In [3]:
%run 2_dados.ipynb

#### Cria sessão Pyspark

In [4]:
spark = (SparkSession.builder
        .master("local")
        .appName("projetosoulcode")
        .config('spark.jars','gcs-connector-hadoop3-latest.jar' )
        .config('spark.hadoop.fs.gs.impl','com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem')
        .config('spark.hadoop.fs.gs.auth.service.account.enable', 'true')
        .config("spark.hadoop.google.cloud.auth.service.account.json.keyfile",'soulcodeproject-44ce61622773.json')
        .config('spark.hadoop.fs.gs.project.id','soulcodeproject')
        .getOrCreate())
spark.conf.set("spark.sql.caseSensitive", "true")

#### Novo header traduzido

In [5]:
schema = (
    StructType([
        StructField("ID",IntegerType(), False),
        StructField("AnoNascimento", IntegerType(), False),
        StructField("GrauInstrucao", StringType(), True),
        StructField("EstadoCivil", StringType(), True),
        StructField("Renda", DoubleType(), True),
        StructField("NumCrianca", IntegerType(), True),
        StructField("NumAdolescente", IntegerType(), True),
        StructField("DataConta", StringType(), True),
        StructField("UltimaCompra", IntegerType(), True),
        StructField("QtdVinho", IntegerType(), True),
        StructField("QtdFrutas", IntegerType(), True),
        StructField("QtdCarne", IntegerType(), True),
        StructField("QtdPeixe", IntegerType(), True),
        StructField("QtdDoces", IntegerType(), True),
        StructField("QtdOuro", IntegerType(), True),
        StructField("QtdComprasDesconto", IntegerType(), True),
        StructField("QtdComprasWeb", IntegerType(), True),
        StructField("QtdCompraCatalogo", IntegerType(), True),
        StructField("QtdCompraLoja", IntegerType(), True),
        StructField("NumVisitasSite", IntegerType(), True),
        StructField("AceitouCam3", IntegerType(), True),
        StructField("AceitouCam4", IntegerType(), True),
        StructField("AceitouCam5", IntegerType(), True),
        StructField("AceitouCam1", IntegerType(), True),
        StructField("AceitouCam2", IntegerType(), True),
        StructField("Reclamacao", IntegerType(), True),
        StructField("CustoContato", IntegerType(), True),
        StructField("Receita", IntegerType(), True),
        StructField("UltimaCampanha", IntegerType(), True),
    ])
)

#### Leitura do arquivo CSV que está na Bucket GCS

In [6]:
df2= (
    spark
       .read
       .format("csv")
       .option("header", "true")
       .option("delimiter", ",")
       .load('gs://soulcodeprojeto/marketing_campaign.csv',schema=schema)
)
df2.show()

+----+-------------+-------------+-----------+-------+----------+--------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+------------+-------+--------------+
|  ID|AnoNascimento|GrauInstrucao|EstadoCivil|  Renda|NumCrianca|NumAdolescente| DataConta|UltimaCompra|QtdVinho|QtdFrutas|QtdCarne|QtdPeixe|QtdDoces|QtdOuro|QtdComprasDesconto|QtdComprasWeb|QtdCompraCatalogo|QtdCompraLoja|NumVisitasSite|AceitouCam3|AceitouCam4|AceitouCam5|AceitouCam1|AceitouCam2|Reclamacao|CustoContato|Receita|UltimaCampanha|
+----+-------------+-------------+-----------+-------+----------+--------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+------------+-------+--------------+
|5524|         1957|   Graduation|     Single|58138.0|         0|             0|04-09-2012|          58|     635|       88|     546|     172|      88|     88|                 3|            8|               10|            4|             7|          0|          0|          0|          0|          0|         0|           3|     11|             1|
|2174|         1954|   Graduation|     Single|46344.0|         1|             1|08-03-2014|          38|      11|        1|       6|       2|       1|      6|                 2|            1|                1|            2|             5|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|4141|         1965|   Graduation|   Together|71613.0|         0|             0|21-08-2013|          26|     426|       49|     127|     111|      21|     42|                 1|            8|                2|           10|             4|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|6182|         1984|   Graduation|   Together|26646.0|         1|             0|10-02-2014|          26|      11|        4|      20|      10|       3|      5|                 2|            2|                0|            4|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|5324|         1981|          PhD|    Married|58293.0|         1|             0|19-01-2014|          94|     173|       43|     118|      46|      27|     15|                 5|            5|                3|            6|             5|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|7446|         1967|       Master|   Together|62513.0|         0|             1|09-09-2013|          16|     520|       42|      98|       0|      42|     14|                 2|            6|                4|           10|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
| 965|         1971|   Graduation|   Divorced|55635.0|         0|             1|13-11-2012|          34|     235|       65|     164|      50|      49|     27|                 4|            7|                3|            7|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|6177|         1985|          PhD|    Married|33454.0|         1|             0|08-05-2013|          32|      76|       10|      56|       3|       1|     23|                 2|            4|                0|            4|             8|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|4855|         1974|          PhD|   Together|30351.0|         1|             0|06-06-2013|          19|      14|        0|      24|       3|       3|      2|                 1|            3|                0|            2|             9|          0|          0|          0|          0|          0|         0|           3|     11|             1|
|5899|         1950|          PhD|   Together| 5648.0|         1|             1|13-03-2014|          68|      28|        0|       6|       1|       1|     13|                 1|            1|                0|            0|            20|          1|          0|          0|          0|          0|         0|           3|     11|             0|
|1994|         1983|   Graduation|    Married|   null|         1|             0|15-11-2013|          11|       5|        5|       6|       0|       2|      1|                 1|            1|                0|            2|             7|          0|          0|          0|          0|          0|         0|           3|     11|             0|
| 387|         1976|        Basic|    Married| 7500.0|         0|             0|13-11-2012|          59|       6|       16|      11|      11|       1|     16|                 1|            2|                0|            3|             8|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|2125|         1959|   Graduation|   Divorced|63033.0|         0|             0|15-11-2013|          82|     194|       61|     480|     225|     112|     30|                 1|            3|                4|            8|             2|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|8180|         1952|       Master|   Divorced|59354.0|         1|             1|15-11-2013|          53|     233|        2|      53|       3|       5|     14|                 3|            6|                1|            5|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|2569|         1987|   Graduation|    Married|17323.0|         0|             0|10-10-2012|          38|       3|       14|      17|       6|       1|      5|                 1|            1|                0|            3|             8|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|2114|         1946|          PhD|     Single|82800.0|         0|             0|24-11-2012|          23|    1006|       22|     115|      59|      68|     45|                 1|            7|                6|           12|             3|          0|          0|          1|          1|          0|         0|           3|     11|             1|
|9736|         1980|   Graduation|    Married|41850.0|         1|             1|24-12-2012|          51|      53|        5|      19|       2|      13|      4|                 3|            3|                0|            3|             8|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|4939|         1946|   Graduation|   Together|37760.0|         0|             0|31-08-2012|          20|      84|        5|      38|     150|      12|     28|                 2|            4|                1|            6|             7|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|6565|         1949|       Master|    Married|76995.0|         0|             1|28-03-2013|          91|    1012|       80|     498|       0|      16|    176|                 2|           11|                4|            9|             5|          0|          0|          0|          1|          0|         0|           3|     11|             0|
|2278|         1985|     2n Cycle|     Single|33812.0|         1|             0|03-11-2012|          86|       4|       17|      19|      30|      24|     39|                 2|            2|                1|            3|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
+----+-------------+-------------+-----------+-------+----------+--------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+------------+-------+--------------+
only showing top 20 rows

#### Verifica tamanho do dataframe

In [7]:
print('Quantidade de linhas:',df2.count(),'\nQuantidade de colunas:',len(df2.columns))

Quantidade de linhas: 2240
Quantidade de colunas: 29

#### Tradução das informações sobre o Grau de Instrução dos clientes

In [8]:
a=[x[0] for x in df2.select('GrauInstrucao').distinct().collect()]
df2=df2.replace(a, ['Segundo Ciclo', 'PhD', 'Mestrado', 'Graduado', 'Básico'])
df2.select('GrauInstrucao').distinct().show()
df2.show()

+-------------+
|GrauInstrucao|
+-------------+
|Segundo Ciclo|
|          PhD|
|     Graduado|
|     Mestrado|
|       Básico|
+-------------+

+----+-------------+-------------+-----------+-------+----------+--------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+------------+-------+--------------+
|  ID|AnoNascimento|GrauInstrucao|EstadoCivil|  Renda|NumCrianca|NumAdolescente| DataConta|UltimaCompra|QtdVinho|QtdFrutas|QtdCarne|QtdPeixe|QtdDoces|QtdOuro|QtdComprasDesconto|QtdComprasWeb|QtdCompraCatalogo|QtdCompraLoja|NumVisitasSite|AceitouCam3|AceitouCam4|AceitouCam5|AceitouCam1|AceitouCam2|Reclamacao|CustoContato|Receita|UltimaCampanha|
+----+-------------+-------------+-----------+-------+----------+--------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+------------+-------+--------------+
|5524|         1957|     Graduado|     Single|58138.0|         0|             0|04-09-2012|          58|     635|       88|     546|     172|      88|     88|                 3|            8|               10|            4|             7|          0|          0|          0|          0|          0|         0|           3|     11|             1|
|2174|         1954|     Graduado|     Single|46344.0|         1|             1|08-03-2014|          38|      11|        1|       6|       2|       1|      6|                 2|            1|                1|            2|             5|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|4141|         1965|     Graduado|   Together|71613.0|         0|             0|21-08-2013|          26|     426|       49|     127|     111|      21|     42|                 1|            8|                2|           10|             4|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|6182|         1984|     Graduado|   Together|26646.0|         1|             0|10-02-2014|          26|      11|        4|      20|      10|       3|      5|                 2|            2|                0|            4|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|5324|         1981|          PhD|    Married|58293.0|         1|             0|19-01-2014|          94|     173|       43|     118|      46|      27|     15|                 5|            5|                3|            6|             5|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|7446|         1967|     Mestrado|   Together|62513.0|         0|             1|09-09-2013|          16|     520|       42|      98|       0|      42|     14|                 2|            6|                4|           10|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
| 965|         1971|     Graduado|   Divorced|55635.0|         0|             1|13-11-2012|          34|     235|       65|     164|      50|      49|     27|                 4|            7|                3|            7|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|6177|         1985|          PhD|    Married|33454.0|         1|             0|08-05-2013|          32|      76|       10|      56|       3|       1|     23|                 2|            4|                0|            4|             8|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|4855|         1974|          PhD|   Together|30351.0|         1|             0|06-06-2013|          19|      14|        0|      24|       3|       3|      2|                 1|            3|                0|            2|             9|          0|          0|          0|          0|          0|         0|           3|     11|             1|
|5899|         1950|          PhD|   Together| 5648.0|         1|             1|13-03-2014|          68|      28|        0|       6|       1|       1|     13|                 1|            1|                0|            0|            20|          1|          0|          0|          0|          0|         0|           3|     11|             0|
|1994|         1983|     Graduado|    Married|   null|         1|             0|15-11-2013|          11|       5|        5|       6|       0|       2|      1|                 1|            1|                0|            2|             7|          0|          0|          0|          0|          0|         0|           3|     11|             0|
| 387|         1976|       Básico|    Married| 7500.0|         0|             0|13-11-2012|          59|       6|       16|      11|      11|       1|     16|                 1|            2|                0|            3|             8|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|2125|         1959|     Graduado|   Divorced|63033.0|         0|             0|15-11-2013|          82|     194|       61|     480|     225|     112|     30|                 1|            3|                4|            8|             2|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|8180|         1952|     Mestrado|   Divorced|59354.0|         1|             1|15-11-2013|          53|     233|        2|      53|       3|       5|     14|                 3|            6|                1|            5|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|2569|         1987|     Graduado|    Married|17323.0|         0|             0|10-10-2012|          38|       3|       14|      17|       6|       1|      5|                 1|            1|                0|            3|             8|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|2114|         1946|          PhD|     Single|82800.0|         0|             0|24-11-2012|          23|    1006|       22|     115|      59|      68|     45|                 1|            7|                6|           12|             3|          0|          0|          1|          1|          0|         0|           3|     11|             1|
|9736|         1980|     Graduado|    Married|41850.0|         1|             1|24-12-2012|          51|      53|        5|      19|       2|      13|      4|                 3|            3|                0|            3|             8|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|4939|         1946|     Graduado|   Together|37760.0|         0|             0|31-08-2012|          20|      84|        5|      38|     150|      12|     28|                 2|            4|                1|            6|             7|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|6565|         1949|     Mestrado|    Married|76995.0|         0|             1|28-03-2013|          91|    1012|       80|     498|       0|      16|    176|                 2|           11|                4|            9|             5|          0|          0|          0|          1|          0|         0|           3|     11|             0|
|2278|         1985|Segundo Ciclo|     Single|33812.0|         1|             0|03-11-2012|          86|       4|       17|      19|      30|      24|     39|                 2|            2|                1|            3|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
+----+-------------+-------------+-----------+-------+----------+--------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+------------+-------+--------------+
only showing top 20 rows

#### Tradução dos dados relativos ao Estado Civil

In [9]:
b=[x[0] for x in df2.select('EstadoCivil').distinct().collect()]
df2=df2.replace(b,['Só se vive uma vez', 'Juntado', 'Casado', 'Absurdo', 'Viúvo','Divorciado', 'Sozinho', 'Solteiro'])
df2.select('EstadoCivil').distinct().show()
df2.show()

+------------------+
|       EstadoCivil|
+------------------+
|             Viúvo|
|        Divorciado|
|           Sozinho|
|          Solteiro|
|           Absurdo|
|Só se vive uma vez|
|            Casado|
|           Juntado|
+------------------+

+----+-------------+-------------+-----------+-------+----------+--------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+------------+-------+--------------+
|  ID|AnoNascimento|GrauInstrucao|EstadoCivil|  Renda|NumCrianca|NumAdolescente| DataConta|UltimaCompra|QtdVinho|QtdFrutas|QtdCarne|QtdPeixe|QtdDoces|QtdOuro|QtdComprasDesconto|QtdComprasWeb|QtdCompraCatalogo|QtdCompraLoja|NumVisitasSite|AceitouCam3|AceitouCam4|AceitouCam5|AceitouCam1|AceitouCam2|Reclamacao|CustoContato|Receita|UltimaCampanha|
+----+-------------+-------------+-----------+-------+----------+--------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+------------+-------+--------------+
|5524|         1957|     Graduado|   Solteiro|58138.0|         0|             0|04-09-2012|          58|     635|       88|     546|     172|      88|     88|                 3|            8|               10|            4|             7|          0|          0|          0|          0|          0|         0|           3|     11|             1|
|2174|         1954|     Graduado|   Solteiro|46344.0|         1|             1|08-03-2014|          38|      11|        1|       6|       2|       1|      6|                 2|            1|                1|            2|             5|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|4141|         1965|     Graduado|    Juntado|71613.0|         0|             0|21-08-2013|          26|     426|       49|     127|     111|      21|     42|                 1|            8|                2|           10|             4|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|6182|         1984|     Graduado|    Juntado|26646.0|         1|             0|10-02-2014|          26|      11|        4|      20|      10|       3|      5|                 2|            2|                0|            4|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|5324|         1981|          PhD|     Casado|58293.0|         1|             0|19-01-2014|          94|     173|       43|     118|      46|      27|     15|                 5|            5|                3|            6|             5|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|7446|         1967|     Mestrado|    Juntado|62513.0|         0|             1|09-09-2013|          16|     520|       42|      98|       0|      42|     14|                 2|            6|                4|           10|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
| 965|         1971|     Graduado| Divorciado|55635.0|         0|             1|13-11-2012|          34|     235|       65|     164|      50|      49|     27|                 4|            7|                3|            7|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|6177|         1985|          PhD|     Casado|33454.0|         1|             0|08-05-2013|          32|      76|       10|      56|       3|       1|     23|                 2|            4|                0|            4|             8|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|4855|         1974|          PhD|    Juntado|30351.0|         1|             0|06-06-2013|          19|      14|        0|      24|       3|       3|      2|                 1|            3|                0|            2|             9|          0|          0|          0|          0|          0|         0|           3|     11|             1|
|5899|         1950|          PhD|    Juntado| 5648.0|         1|             1|13-03-2014|          68|      28|        0|       6|       1|       1|     13|                 1|            1|                0|            0|            20|          1|          0|          0|          0|          0|         0|           3|     11|             0|
|1994|         1983|     Graduado|     Casado|   null|         1|             0|15-11-2013|          11|       5|        5|       6|       0|       2|      1|                 1|            1|                0|            2|             7|          0|          0|          0|          0|          0|         0|           3|     11|             0|
| 387|         1976|       Básico|     Casado| 7500.0|         0|             0|13-11-2012|          59|       6|       16|      11|      11|       1|     16|                 1|            2|                0|            3|             8|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|2125|         1959|     Graduado| Divorciado|63033.0|         0|             0|15-11-2013|          82|     194|       61|     480|     225|     112|     30|                 1|            3|                4|            8|             2|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|8180|         1952|     Mestrado| Divorciado|59354.0|         1|             1|15-11-2013|          53|     233|        2|      53|       3|       5|     14|                 3|            6|                1|            5|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|2569|         1987|     Graduado|     Casado|17323.0|         0|             0|10-10-2012|          38|       3|       14|      17|       6|       1|      5|                 1|            1|                0|            3|             8|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|2114|         1946|          PhD|   Solteiro|82800.0|         0|             0|24-11-2012|          23|    1006|       22|     115|      59|      68|     45|                 1|            7|                6|           12|             3|          0|          0|          1|          1|          0|         0|           3|     11|             1|
|9736|         1980|     Graduado|     Casado|41850.0|         1|             1|24-12-2012|          51|      53|        5|      19|       2|      13|      4|                 3|            3|                0|            3|             8|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|4939|         1946|     Graduado|    Juntado|37760.0|         0|             0|31-08-2012|          20|      84|        5|      38|     150|      12|     28|                 2|            4|                1|            6|             7|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|6565|         1949|     Mestrado|     Casado|76995.0|         0|             1|28-03-2013|          91|    1012|       80|     498|       0|      16|    176|                 2|           11|                4|            9|             5|          0|          0|          0|          1|          0|         0|           3|     11|             0|
|2278|         1985|Segundo Ciclo|   Solteiro|33812.0|         1|             0|03-11-2012|          86|       4|       17|      19|      30|      24|     39|                 2|            2|                1|            3|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
+----+-------------+-------------+-----------+-------+----------+--------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+------------+-------+--------------+
only showing top 20 rows

#### Verificação das Informções sobre as colunas

In [10]:
df2.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- AnoNascimento: integer (nullable = true)
 |-- GrauInstrucao: string (nullable = true)
 |-- EstadoCivil: string (nullable = true)
 |-- Renda: double (nullable = true)
 |-- NumCrianca: integer (nullable = true)
 |-- NumAdolescente: integer (nullable = true)
 |-- DataConta: string (nullable = true)
 |-- UltimaCompra: integer (nullable = true)
 |-- QtdVinho: integer (nullable = true)
 |-- QtdFrutas: integer (nullable = true)
 |-- QtdCarne: integer (nullable = true)
 |-- QtdPeixe: integer (nullable = true)
 |-- QtdDoces: integer (nullable = true)
 |-- QtdOuro: integer (nullable = true)
 |-- QtdComprasDesconto: integer (nullable = true)
 |-- QtdComprasWeb: integer (nullable = true)
 |-- QtdCompraCatalogo: integer (nullable = true)
 |-- QtdCompraLoja: integer (nullable = true)
 |-- NumVisitasSite: integer (nullable = true)
 |-- AceitouCam3: integer (nullable = true)
 |-- AceitouCam4: integer (nullable = true)
 |-- AceitouCam5: integer (nullable = true)
 |-- AceitouCam1: integer (nullable = true)
 |-- AceitouCam2: integer (nullable = true)
 |-- Reclamacao: integer (nullable = true)
 |-- CustoContato: integer (nullable = true)
 |-- Receita: integer (nullable = true)
 |-- UltimaCampanha: integer (nullable = true)

#### Procura de valores nulos, usadas tanto as funções Isnan quanto IsNULL

In [11]:
df2.select([count(when(isnan(c), c)).alias(c) for c in df2.columns]).show(vertical=True)

-RECORD 0-----------------
 ID                 | 0
 AnoNascimento      | 0
 GrauInstrucao      | 0
 EstadoCivil        | 0
 Renda              | 0
 NumCrianca         | 0
 NumAdolescente     | 0
 DataConta          | 0
 UltimaCompra       | 0
 QtdVinho           | 0
 QtdFrutas          | 0
 QtdCarne           | 0
 QtdPeixe           | 0
 QtdDoces           | 0
 QtdOuro            | 0
 QtdComprasDesconto | 0
 QtdComprasWeb      | 0
 QtdCompraCatalogo  | 0
 QtdCompraLoja      | 0
 NumVisitasSite     | 0
 AceitouCam3        | 0
 AceitouCam4        | 0
 AceitouCam5        | 0
 AceitouCam1        | 0
 AceitouCam2        | 0
 Reclamacao         | 0
 CustoContato       | 0
 Receita            | 0
 UltimaCampanha     | 0

In [12]:
df2.select([count(when(col(c).isNull(), c)).alias(c) for c in df2.columns]).show(vertical=True)

-RECORD 0-----------------
 ID                 | 0
 AnoNascimento      | 0
 GrauInstrucao      | 0
 EstadoCivil        | 0
 Renda              | 24
 NumCrianca         | 0
 NumAdolescente     | 0
 DataConta          | 0
 UltimaCompra       | 0
 QtdVinho           | 0
 QtdFrutas          | 0
 QtdCarne           | 0
 QtdPeixe           | 0
 QtdDoces           | 0
 QtdOuro            | 0
 QtdComprasDesconto | 0
 QtdComprasWeb      | 0
 QtdCompraCatalogo  | 0
 QtdCompraLoja      | 0
 NumVisitasSite     | 0
 AceitouCam3        | 0
 AceitouCam4        | 0
 AceitouCam5        | 0
 AceitouCam1        | 0
 AceitouCam2        | 0
 Reclamacao         | 0
 CustoContato       | 0
 Receita            | 0
 UltimaCampanha     | 0

#### Encontrados 24 valores nulos na Renda dos clientes, linhas foram excluídas, ficando assim 2216 linhas

In [13]:
df2=df2.dropna()

In [14]:
df2.describe().show()

+-------+----------------+------------------+-------------+-----------+------------------+------------------+------------------+----------+-----------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+-----------------+-----------------+-------------------+------------------+-------------------+-------------------+--------------------+-------------------+------------+-------+-------------------+
|summary|              ID|     AnoNascimento|GrauInstrucao|EstadoCivil|             Renda|        NumCrianca|    NumAdolescente| DataConta|     UltimaCompra|          QtdVinho|         QtdFrutas|          QtdCarne|         QtdPeixe|          QtdDoces|          QtdOuro|QtdComprasDesconto|     QtdComprasWeb| QtdCompraCatalogo|    QtdCompraLoja|   NumVisitasSite|        AceitouCam3|       AceitouCam4|        AceitouCam5|        AceitouCam1|         AceitouCam2|         Reclamacao|CustoContato|Receita|     UltimaCampanha|
+-------+----------------+------------------+-------------+-----------+------------------+------------------+------------------+----------+-----------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+-----------------+-----------------+-------------------+------------------+-------------------+-------------------+--------------------+-------------------+------------+-------+-------------------+
|  count|            2216|              2216|         2216|       2216|              2216|              2216|              2216|      2216|             2216|              2216|              2216|              2216|             2216|              2216|             2216|              2216|              2216|              2216|             2216|             2216|               2216|              2216|               2216|               2216|                2216|               2216|        2216|   2216|               2216|
|   mean|5588.35333935018|1968.8203971119133|         null|       null| 52247.25135379061|0.4417870036101083|0.5054151624548736|      null|49.01263537906137|305.09160649819495|26.356046931407942|166.99593862815885|37.63763537906137|27.028880866425993|43.96525270758123|2.3235559566787005|  4.08528880866426| 2.671028880866426|5.800992779783393|5.319043321299639|0.07355595667870037|0.0740072202166065|0.07310469314079422|0.06407942238267147|0.013537906137184115|0.00947653429602888|         3.0|   11.0|0.15027075812274368|
| stddev|3249.37627481347|11.985554097352363|         null|       null|25173.076660901414|0.5368962401346721|0.5441812115403034|      null|28.94835165862499|  337.327920116672|39.793916518238674|224.28327275898198|54.75208241485154| 41.07204566698224|51.81541437447363|1.9237156460114953|2.7409510810147255|2.9267336360080134|3.250784785670525|2.425358540606443|0.26110580876067324|0.2618417283260366|0.26036702668143424| 0.2449496396591494| 0.11558832299800825| 0.0969070038487211|         0.0|    0.0|0.35741727012906527|
|    min|               0|              1893|       Básico|    Absurdo|            1730.0|                 0|                 0|01-01-2013|                0|                 0|                 0|                 0|                0|                 0|                0|                 0|                 0|                 0|                0|                0|                  0|                 0|                  0|                  0|                   0|                  0|           3|     11|                  0|
|    max|           11191|              1996|Segundo Ciclo|      Viúvo|          666666.0|                 2|                 2|31-12-2013|               99|              1493|               199|              1725|              259|               262|              321|                15|                27|                28|               13|               20|                  1|                 1|                  1|                  1|                   1|                  1|           3|     11|                  1|
+-------+----------------+------------------+-------------+-----------+------------------+------------------+------------------+----------+-----------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+-----------------+-----------------+-------------------+------------------+-------------------+-------------------+--------------------+-------------------+------------+-------+-------------------+

#### As colunas Receita e CustoContato foram descartadas por apenas repetirem os valores 3 e 11 respectivamente e não trazerem informações úteis para a analise

In [15]:
df2=df2.drop('Receita', 'CustoContato')

In [16]:
df2.summary().show()

+-------+----------------+------------------+-------------+-----------+------------------+------------------+------------------+----------+-----------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+-----------------+-----------------+-------------------+------------------+-------------------+-------------------+--------------------+-------------------+-------------------+
|summary|              ID|     AnoNascimento|GrauInstrucao|EstadoCivil|             Renda|        NumCrianca|    NumAdolescente| DataConta|     UltimaCompra|          QtdVinho|         QtdFrutas|          QtdCarne|         QtdPeixe|          QtdDoces|          QtdOuro|QtdComprasDesconto|     QtdComprasWeb| QtdCompraCatalogo|    QtdCompraLoja|   NumVisitasSite|        AceitouCam3|       AceitouCam4|        AceitouCam5|        AceitouCam1|         AceitouCam2|         Reclamacao|     UltimaCampanha|
+-------+----------------+------------------+-------------+-----------+------------------+------------------+------------------+----------+-----------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+-----------------+-----------------+-------------------+------------------+-------------------+-------------------+--------------------+-------------------+-------------------+
|  count|            2216|              2216|         2216|       2216|              2216|              2216|              2216|      2216|             2216|              2216|              2216|              2216|             2216|              2216|             2216|              2216|              2216|              2216|             2216|             2216|               2216|              2216|               2216|               2216|                2216|               2216|               2216|
|   mean|5588.35333935018|1968.8203971119133|         null|       null| 52247.25135379061|0.4417870036101083|0.5054151624548736|      null|49.01263537906137|305.09160649819495|26.356046931407942|166.99593862815885|37.63763537906137|27.028880866425993|43.96525270758123|2.3235559566787005|  4.08528880866426| 2.671028880866426|5.800992779783393|5.319043321299639|0.07355595667870037|0.0740072202166065|0.07310469314079422|0.06407942238267147|0.013537906137184115|0.00947653429602888|0.15027075812274368|
| stddev|3249.37627481347|11.985554097352363|         null|       null|25173.076660901414|0.5368962401346721|0.5441812115403034|      null|28.94835165862499|  337.327920116672|39.793916518238674|224.28327275898198|54.75208241485154| 41.07204566698224|51.81541437447363|1.9237156460114953|2.7409510810147255|2.9267336360080134|3.250784785670525|2.425358540606443|0.26110580876067324|0.2618417283260366|0.26036702668143424| 0.2449496396591494| 0.11558832299800825| 0.0969070038487211|0.35741727012906527|
|    min|               0|              1893|       Básico|    Absurdo|            1730.0|                 0|                 0|01-01-2013|                0|                 0|                 0|                 0|                0|                 0|                0|                 0|                 0|                 0|                0|                0|                  0|                 0|                  0|                  0|                   0|                  0|                  0|
|    25%|            2814|              1959|         null|       null|           35246.0|                 0|                 0|      null|               24|                24|                 2|                16|                3|                 1|                9|                 1|                 2|                 0|                3|                3|                  0|                 0|                  0|                  0|                   0|                  0|                  0|
|    50%|            5455|              1970|         null|       null|           51373.0|                 0|                 0|      null|               49|               174|                 8|                68|               12|                 8|               24|                 2|                 4|                 2|                5|                6|                  0|                 0|                  0|                  0|                   0|                  0|                  0|
|    75%|            8420|              1977|         null|       null|           68487.0|                 1|                 1|      null|               74|               505|                33|               232|               50|                33|               56|                 3|                 6|                 4|                8|                7|                  0|                 0|                  0|                  0|                   0|                  0|                  0|
|    max|           11191|              1996|Segundo Ciclo|      Viúvo|          666666.0|                 2|                 2|31-12-2013|               99|              1493|               199|              1725|              259|               262|              321|                15|                27|                28|               13|               20|                  1|                 1|                  1|                  1|                   1|                  1|                  1|
+-------+----------------+------------------+-------------+-----------+------------------+------------------+------------------+----------+-----------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+-----------------+-----------------+-------------------+------------------+-------------------+-------------------+--------------------+-------------------+-------------------+

In [17]:
print(df2.count(), len(df2.columns))

2216 27

In [18]:
df2=df2.withColumnRenamed('NumCrianca','QtdCriancas').withColumnRenamed('NumAdolescente', 'QtdAdolescentes')
df2.show()

+----+-------------+-------------+-----------+-------+-----------+---------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+--------------+
|  ID|AnoNascimento|GrauInstrucao|EstadoCivil|  Renda|QtdCriancas|QtdAdolescentes| DataConta|UltimaCompra|QtdVinho|QtdFrutas|QtdCarne|QtdPeixe|QtdDoces|QtdOuro|QtdComprasDesconto|QtdComprasWeb|QtdCompraCatalogo|QtdCompraLoja|NumVisitasSite|AceitouCam3|AceitouCam4|AceitouCam5|AceitouCam1|AceitouCam2|Reclamacao|UltimaCampanha|
+----+-------------+-------------+-----------+-------+-----------+---------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+--------------+
|5524|         1957|     Graduado|   Solteiro|58138.0|          0|              0|04-09-2012|          58|     635|       88|     546|     172|      88|     88|                 3|            8|               10|            4|             7|          0|          0|          0|          0|          0|         0|             1|
|2174|         1954|     Graduado|   Solteiro|46344.0|          1|              1|08-03-2014|          38|      11|        1|       6|       2|       1|      6|                 2|            1|                1|            2|             5|          0|          0|          0|          0|          0|         0|             0|
|4141|         1965|     Graduado|    Juntado|71613.0|          0|              0|21-08-2013|          26|     426|       49|     127|     111|      21|     42|                 1|            8|                2|           10|             4|          0|          0|          0|          0|          0|         0|             0|
|6182|         1984|     Graduado|    Juntado|26646.0|          1|              0|10-02-2014|          26|      11|        4|      20|      10|       3|      5|                 2|            2|                0|            4|             6|          0|          0|          0|          0|          0|         0|             0|
|5324|         1981|          PhD|     Casado|58293.0|          1|              0|19-01-2014|          94|     173|       43|     118|      46|      27|     15|                 5|            5|                3|            6|             5|          0|          0|          0|          0|          0|         0|             0|
|7446|         1967|     Mestrado|    Juntado|62513.0|          0|              1|09-09-2013|          16|     520|       42|      98|       0|      42|     14|                 2|            6|                4|           10|             6|          0|          0|          0|          0|          0|         0|             0|
| 965|         1971|     Graduado| Divorciado|55635.0|          0|              1|13-11-2012|          34|     235|       65|     164|      50|      49|     27|                 4|            7|                3|            7|             6|          0|          0|          0|          0|          0|         0|             0|
|6177|         1985|          PhD|     Casado|33454.0|          1|              0|08-05-2013|          32|      76|       10|      56|       3|       1|     23|                 2|            4|                0|            4|             8|          0|          0|          0|          0|          0|         0|             0|
|4855|         1974|          PhD|    Juntado|30351.0|          1|              0|06-06-2013|          19|      14|        0|      24|       3|       3|      2|                 1|            3|                0|            2|             9|          0|          0|          0|          0|          0|         0|             1|
|5899|         1950|          PhD|    Juntado| 5648.0|          1|              1|13-03-2014|          68|      28|        0|       6|       1|       1|     13|                 1|            1|                0|            0|            20|          1|          0|          0|          0|          0|         0|             0|
| 387|         1976|       Básico|     Casado| 7500.0|          0|              0|13-11-2012|          59|       6|       16|      11|      11|       1|     16|                 1|            2|                0|            3|             8|          0|          0|          0|          0|          0|         0|             0|
|2125|         1959|     Graduado| Divorciado|63033.0|          0|              0|15-11-2013|          82|     194|       61|     480|     225|     112|     30|                 1|            3|                4|            8|             2|          0|          0|          0|          0|          0|         0|             0|
|8180|         1952|     Mestrado| Divorciado|59354.0|          1|              1|15-11-2013|          53|     233|        2|      53|       3|       5|     14|                 3|            6|                1|            5|             6|          0|          0|          0|          0|          0|         0|             0|
|2569|         1987|     Graduado|     Casado|17323.0|          0|              0|10-10-2012|          38|       3|       14|      17|       6|       1|      5|                 1|            1|                0|            3|             8|          0|          0|          0|          0|          0|         0|             0|
|2114|         1946|          PhD|   Solteiro|82800.0|          0|              0|24-11-2012|          23|    1006|       22|     115|      59|      68|     45|                 1|            7|                6|           12|             3|          0|          0|          1|          1|          0|         0|             1|
|9736|         1980|     Graduado|     Casado|41850.0|          1|              1|24-12-2012|          51|      53|        5|      19|       2|      13|      4|                 3|            3|                0|            3|             8|          0|          0|          0|          0|          0|         0|             0|
|4939|         1946|     Graduado|    Juntado|37760.0|          0|              0|31-08-2012|          20|      84|        5|      38|     150|      12|     28|                 2|            4|                1|            6|             7|          0|          0|          0|          0|          0|         0|             0|
|6565|         1949|     Mestrado|     Casado|76995.0|          0|              1|28-03-2013|          91|    1012|       80|     498|       0|      16|    176|                 2|           11|                4|            9|             5|          0|          0|          0|          1|          0|         0|             0|
|2278|         1985|Segundo Ciclo|   Solteiro|33812.0|          1|              0|03-11-2012|          86|       4|       17|      19|      30|      24|     39|                 2|            2|                1|            3|             6|          0|          0|          0|          0|          0|         0|             0|
|9360|         1982|     Graduado|     Casado|37040.0|          0|              0|08-08-2012|          41|      86|        2|      73|      69|      38|     48|                 1|            4|                2|            5|             8|          0|          0|          0|          0|          0|         0|             0|
+----+-------------+-------------+-----------+-------+-----------+---------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+--------------+
only showing top 20 rows

In [19]:
df2=df2.withColumn('TotalGasto', F.col('QtdVinho')+F.col('QtdFrutas')+F.col('QtdCarne')+F.col('QtdPeixe')+F.col('QtdOuro')).orderBy('TotalGasto', ascending=False)

In [20]:
df2=df2.withColumn('Filhos', F.col('QtdCriancas')+F.col('QtdAdolescentes')).orderBy('Filhos', ascending=False)
df2.show()

+-----+-------------+-------------+-----------+-------+-----------+---------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+--------------+----------+------+
|   ID|AnoNascimento|GrauInstrucao|EstadoCivil|  Renda|QtdCriancas|QtdAdolescentes| DataConta|UltimaCompra|QtdVinho|QtdFrutas|QtdCarne|QtdPeixe|QtdDoces|QtdOuro|QtdComprasDesconto|QtdComprasWeb|QtdCompraCatalogo|QtdCompraLoja|NumVisitasSite|AceitouCam3|AceitouCam4|AceitouCam5|AceitouCam1|AceitouCam2|Reclamacao|UltimaCampanha|TotalGasto|Filhos|
+-----+-------------+-------------+-----------+-------+-----------+---------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+--------------+----------+------+
| 9283|         1978|     Graduado|   Solteiro|60199.0|          1|              2|12-09-2013|          49|       8|        1|       7|       2|       0|      0|                 1|            0|                0|            3|             4|          0|          0|          0|          0|          0|         0|             0|        18|     3|
| 9499|         1954|     Graduado|     Casado|93404.0|          1|              2|07-05-2013|          97|    1279|       15|     287|      20|       0|     15|                 3|            3|                4|            7|             5|          0|          1|          1|          0|          0|         0|             0|      1616|     3|
| 2795|         1958|     Mestrado|   Solteiro|30523.0|          2|              1|01-07-2013|           0|       5|        0|       3|       0|       0|      5|                 1|            1|                0|            2|             7|          0|          0|          0|          0|          0|         0|             0|        13|     3|
| 1357|         1970|     Graduado|    Juntado|74854.0|          1|              2|08-04-2013|          90|     856|       59|     487|      58|      29|     73|                 7|            2|                5|            5|             5|          0|          0|          0|          0|          0|         0|             0|      1533|     3|
| 4370|         1966|     Graduado|    Juntado|43482.0|          2|              1|13-11-2013|          83|      18|        1|      32|       6|       3|     28|                 3|            2|                0|            4|             6|          0|          0|          0|          0|          0|         0|             0|        85|     3|
| 7284|         1953|     Graduado|     Casado|48686.0|          1|              2|04-12-2013|           8|      10|        0|       7|       2|       0|      1|                 1|            1|                0|            2|             8|          0|          0|          0|          0|          0|         0|             0|        20|     3|
| 4148|         1972|     Graduado|     Casado|38988.0|          1|              2|20-08-2012|          90|     164|       24|     103|      12|       3|     42|                 7|            5|                1|            6|             8|          0|          0|          0|          0|          0|         0|             0|       345|     3|
| 5885|         1973|Segundo Ciclo|     Casado|35688.0|          2|              1|22-08-2012|          94|      73|        3|      90|      12|       1|     32|                 7|            4|                1|            4|             8|          0|          0|          0|          0|          0|         0|             0|       210|     3|
| 8477|         1956|     Graduado| Divorciado|26150.0|          2|              1|11-03-2013|          61|       5|        1|      13|       3|       5|      1|                 1|            1|                0|            3|             7|          0|          0|          0|          0|          0|         0|             0|        23|     3|
|10492|         1959|     Graduado|    Juntado|38285.0|          2|              1|24-06-2014|          96|       2|        0|       5|       2|       0|      1|                 1|            0|                0|            3|             2|          0|          0|          0|          0|          0|         0|             0|        10|     3|
| 6222|         1967|     Graduado|     Casado|22574.0|          2|              1|28-10-2013|          28|      25|        0|       8|       2|       0|      2|                 2|            2|                0|            3|             7|          0|          0|          0|          0|          0|         0|             0|        37|     3|
| 3153|         1957|          PhD|   Solteiro|40737.0|          2|              1|08-12-2013|          24|      11|        0|       4|       0|       0|      2|                 1|            1|                0|            2|             8|          0|          0|          0|          0|          0|         0|             0|        17|     3|
| 8953|         1965|     Mestrado|   Solteiro|35791.0|          2|              1|06-05-2013|          94|      27|        0|       5|       0|       0|      3|                 2|            1|                0|            3|             8|          0|          0|          0|          0|          0|         0|             0|        35|     3|
|10350|         1950|          PhD|     Casado|54432.0|          2|              1|09-05-2013|          37|      33|        0|       5|       0|       0|      0|                 1|            1|                0|            3|             4|          0|          0|          0|          0|          0|         0|             0|        38|     3|
| 8461|         1962|     Graduado| Divorciado|46102.0|          2|              1|10-03-2014|           3|      14|        0|       1|       0|       0|      1|                 1|            1|                0|            2|             7|          0|          0|          0|          0|          0|         0|             0|        16|     3|
| 2552|         1955|          PhD|   Solteiro|55521.0|          1|              2|22-10-2013|          11|     416|        0|      26|       0|       0|      4|                 9|            6|                3|            6|             7|          0|          1|          0|          0|          0|         0|             1|       446|     3|
| 6940|         1966|          PhD|   Solteiro|46734.0|          1|              2|21-10-2013|          86|     100|        1|      39|       6|       1|     76|                 4|            3|                2|            3|             6|          1|          0|          0|          0|          0|         0|             0|       222|     3|
| 9579|         1959|          PhD|     Casado|33762.0|          2|              1|07-07-2013|          61|      53|        1|      34|       2|       0|     16|                 3|            2|                2|            2|             8|          0|          0|          0|          0|          0|         0|             0|       106|     3|
|11171|         1965|     Mestrado|     Casado|56962.0|          2|              1|11-10-2013|          60|     292|        3|      77|      10|       3|     26|                 7|            6|                3|            5|             7|          0|          0|          0|          0|          0|         0|             0|       408|     3|
| 2826|         1967|     Graduado|     Casado|22574.0|          2|              1|28-10-2013|          28|      25|        0|       8|       2|       0|      2|                 2|            2|                0|            3|             7|          0|          0|          0|          0|          0|         0|             0|        37|     3|
+-----+-------------+-------------+-----------+-------+-----------+---------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+--------------+----------+------+
only showing top 20 rows

#### Média de compra de vinho e doces de acordo com o Estado Civil

In [21]:
df2.groupBy("EstadoCivil").agg({'QtdVinho':'mean','QtdDoces':'mean' }).show()

+------------------+------------------+------------------+
|       EstadoCivil|     avg(QtdVinho)|     avg(QtdDoces)|
+------------------+------------------+------------------+
|             Viúvo|367.13157894736844| 37.86842105263158|
|        Divorciado| 324.8448275862069| 26.81896551724138|
|           Sozinho|184.66666666666666|               7.0|
|          Solteiro| 291.3312101910828|27.072186836518046|
|           Absurdo|             355.5|              30.5|
|Só se vive uma vez|             322.0|               3.0|
|            Casado|299.85530921820305|26.751458576429403|
|           Juntado|308.40314136125653|26.232111692844676|
+------------------+------------------+------------------+

#### Definindo nova coluna com o status se cliente tem crianças e adolescentes em casa

In [57]:
df3 = (df2.withColumn("Status", F.when((F.col('Filhos') >0), F.lit("Filhos em casa")).otherwise(F.lit('Sem Filhos'))))

In [23]:
df3.filter(df3['Status']=='Sem Filhos').show()

+-----+-------------+-------------+-----------+-------+-----------+---------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+--------------+----------+------+----------+
|   ID|AnoNascimento|GrauInstrucao|EstadoCivil|  Renda|QtdCriancas|QtdAdolescentes| DataConta|UltimaCompra|QtdVinho|QtdFrutas|QtdCarne|QtdPeixe|QtdDoces|QtdOuro|QtdComprasDesconto|QtdComprasWeb|QtdCompraCatalogo|QtdCompraLoja|NumVisitasSite|AceitouCam3|AceitouCam4|AceitouCam5|AceitouCam1|AceitouCam2|Reclamacao|UltimaCampanha|TotalGasto|Filhos|    Status|
+-----+-------------+-------------+-----------+-------+-----------+---------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+--------------+----------+------+----------+
| 5524|         1957|     Graduado|   Solteiro|58138.0|          0|              0|04-09-2012|          58|     635|       88|     546|     172|      88|     88|                 3|            8|               10|            4|             7|          0|          0|          0|          0|          0|         0|             1|      1529|     0|Sem Filhos|
| 4141|         1965|     Graduado|    Juntado|71613.0|          0|              0|21-08-2013|          26|     426|       49|     127|     111|      21|     42|                 1|            8|                2|           10|             4|          0|          0|          0|          0|          0|         0|             0|       755|     0|Sem Filhos|
|  387|         1976|       Básico|     Casado| 7500.0|          0|              0|13-11-2012|          59|       6|       16|      11|      11|       1|     16|                 1|            2|                0|            3|             8|          0|          0|          0|          0|          0|         0|             0|        60|     0|Sem Filhos|
| 2125|         1959|     Graduado| Divorciado|63033.0|          0|              0|15-11-2013|          82|     194|       61|     480|     225|     112|     30|                 1|            3|                4|            8|             2|          0|          0|          0|          0|          0|         0|             0|       990|     0|Sem Filhos|
| 2569|         1987|     Graduado|     Casado|17323.0|          0|              0|10-10-2012|          38|       3|       14|      17|       6|       1|      5|                 1|            1|                0|            3|             8|          0|          0|          0|          0|          0|         0|             0|        45|     0|Sem Filhos|
| 2114|         1946|          PhD|   Solteiro|82800.0|          0|              0|24-11-2012|          23|    1006|       22|     115|      59|      68|     45|                 1|            7|                6|           12|             3|          0|          0|          1|          1|          0|         0|             1|      1247|     0|Sem Filhos|
| 4939|         1946|     Graduado|    Juntado|37760.0|          0|              0|31-08-2012|          20|      84|        5|      38|     150|      12|     28|                 2|            4|                1|            6|             7|          0|          0|          0|          0|          0|         0|             0|       305|     0|Sem Filhos|
| 9360|         1982|     Graduado|     Casado|37040.0|          0|              0|08-08-2012|          41|      86|        2|      73|      69|      38|     48|                 1|            4|                2|            5|             8|          0|          0|          0|          0|          0|         0|             0|       278|     0|Sem Filhos|
| 7892|         1969|     Graduado|   Solteiro|18589.0|          0|              0|02-01-2013|          89|       6|        4|      25|      15|      12|     13|                 2|            2|                1|            3|             7|          0|          0|          0|          0|          0|         0|             0|        63|     0|Sem Filhos|
| 1966|         1965|          PhD|     Casado|84618.0|          0|              0|22-11-2013|          96|     684|      100|     801|      21|      66|      0|                 1|            6|                9|           10|             2|          0|          0|          1|          0|          0|         0|             0|      1606|     0|Sem Filhos|
| 6864|         1989|     Mestrado| Divorciado|10979.0|          0|              0|22-05-2014|          34|       8|        4|      10|       2|       2|      4|                 2|            3|                0|            3|             5|          0|          0|          0|          0|          0|         0|             0|        28|     0|Sem Filhos|
| 3033|         1963|     Mestrado|    Juntado|38620.0|          0|              0|11-05-2013|          56|     112|       17|      44|      34|      22|     89|                 1|            2|                5|            3|             3|          0|          0|          0|          0|          0|         0|             0|       296|     0|Sem Filhos|
| 8755|         1946|     Mestrado|     Casado|68657.0|          0|              0|20-02-2013|           4|     482|       34|     471|     119|      68|     22|                 1|            3|                5|            9|             7|          0|          0|          0|          0|          0|         0|             0|      1128|     0|Sem Filhos|
| 2968|         1943|          PhD| Divorciado|48948.0|          0|              0|01-02-2013|          53|     437|        8|     206|     160|      49|     42|                 2|            7|               10|            5|             6|          1|          0|          0|          0|          0|         0|             1|       853|     0|Sem Filhos|
| 1371|         1976|     Graduado|   Solteiro|79941.0|          0|              0|28-06-2014|          72|     123|      164|     266|     227|      30|    174|                 1|            2|                4|            9|             1|          0|          0|          0|          0|          0|         0|             0|       954|     0|Sem Filhos|
| 9909|         1996|Segundo Ciclo|     Casado| 7500.0|          0|              0|09-11-2012|          24|       3|       18|      14|      15|      22|     50|                 3|            3|                1|            3|             9|          0|          0|          0|          0|          0|         0|             1|       100|     0|Sem Filhos|
| 4114|         1964|     Mestrado|     Casado|79143.0|          0|              0|11-08-2012|           2|     650|       37|     780|      27|     167|     32|                 1|            6|                9|           13|             3|          0|          0|          0|          0|          0|         0|             0|      1526|     0|Sem Filhos|
| 2225|         1977|     Graduado| Divorciado|82582.0|          0|              0|07-06-2014|          54|     510|      120|     550|     156|      40|    241|                 1|            4|                9|            7|             1|          1|          0|          0|          1|          0|         0|             1|      1577|     0|Sem Filhos|
| 6260|         1955|     Mestrado|    Juntado|82384.0|          0|              0|19-11-2012|          55|     984|       51|     432|     180|     120|    190|                 1|            3|               10|           13|             1|          0|          0|          1|          0|          0|         0|             1|      1837|     0|Sem Filhos|
|10383|         1966|     Graduado| Divorciado|70287.0|          0|              0|02-04-2013|          30|     295|       35|     482|     121|     120|     40|                 1|            5|                5|           10|             3|          0|          0|          0|          0|          0|         0|             1|       973|     0|Sem Filhos|
+-----+-------------+-------------+-----------+-------+-----------+---------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+--------------+----------+------+----------+
only showing top 20 rows

#### Pesquisa de quantidade de clientes por estado civil e grau de instrução

In [24]:
df3.groupBy('EstadoCivil').count().orderBy('count', ascending=False).show()

+------------------+-----+
|       EstadoCivil|count|
+------------------+-----+
|            Casado|  857|
|           Juntado|  573|
|          Solteiro|  471|
|        Divorciado|  232|
|             Viúvo|   76|
|           Sozinho|    3|
|           Absurdo|    2|
|Só se vive uma vez|    2|
+------------------+-----+

In [25]:
df3.groupBy('GrauInstrucao').count().show()

+-------------+-----+
|GrauInstrucao|count|
+-------------+-----+
|Segundo Ciclo|  200|
|          PhD|  481|
|     Graduado| 1116|
|     Mestrado|  365|
|       Básico|   54|
+-------------+-----+

#### Cálculo da Renda Média dos clientes de acordo com o Estado Civil

In [26]:
df3.groupBy('EstadoCivil').agg(F.mean('Renda').alias('RendaMédia')).orderBy('RendaMédia', ascending=False).withColumn("RendaMédia",round(col('RendaMédia'),2)).show()

+------------------+----------+
|       EstadoCivil|RendaMédia|
+------------------+----------+
|           Absurdo|   72365.5|
|             Viúvo|  56481.55|
|           Juntado|  53245.53|
|        Divorciado|  52834.23|
|            Casado|  51724.98|
|          Solteiro|  50995.35|
|Só se vive uma vez|   48432.0|
|           Sozinho|   43789.0|
+------------------+----------+

#### Calculo dos gastos por cliente de acordo com o estado civil

In [27]:
df3.groupBy('EstadoCivil').agg(F.mean('Renda').alias('RendaMédia'), F.mean('TotalGasto').alias('GastoMedia')).orderBy('GastoMedia', ascending=False).withColumn("RendaMédia",round(col('RendaMédia'),2)).withColumn("GastoMedia",round(col('GastoMedia'),2)).show()

+------------------+----------+----------+
|       EstadoCivil|RendaMédia|GastoMedia|
+------------------+----------+----------+
|           Absurdo|   72365.5|    1162.0|
|             Viúvo|  56481.55|    690.09|
|          Solteiro|  50995.35|    585.52|
|        Divorciado|  52834.23|    583.81|
|           Juntado|  53245.53|    582.61|
|            Casado|  51724.98|    564.71|
|Só se vive uma vez|   48432.0|     421.0|
|           Sozinho|   43789.0|    249.67|
+------------------+----------+----------+

#### Busca das idades dos clientes e foram encontrados valores destoantes como 129, 123 e 122 anos

In [58]:
df3=df3.withColumn('Idade', year(current_date())-F.col('AnoNascimento'))

In [29]:
df3.groupBy('Idade').count().orderBy('Idade', ascending=False).show(100)

+-----+-----+
|Idade|count|
+-----+-----+
|  129|    1|
|  123|    1|
|  122|    1|
|   82|    1|
|   81|    1|
|   79|    6|
|   78|    7|
|   77|    8|
|   76|   16|
|   75|   16|
|   74|   21|
|   73|   30|
|   72|   29|
|   71|   42|
|   70|   52|
|   69|   35|
|   68|   49|
|   67|   48|
|   66|   55|
|   65|   41|
|   64|   52|
|   63|   50|
|   62|   49|
|   61|   35|
|   60|   44|
|   59|   44|
|   58|   41|
|   57|   74|
|   56|   50|
|   55|   44|
|   54|   51|
|   53|   70|
|   52|   75|
|   51|   86|
|   50|   78|
|   49|   72|
|   48|   69|
|   47|   83|
|   46|   89|
|   45|   52|
|   44|   76|
|   43|   53|
|   42|   39|
|   41|   38|
|   40|   44|
|   39|   41|
|   38|   38|
|   37|   32|
|   36|   41|
|   35|   27|
|   34|   29|
|   33|   29|
|   32|   18|
|   31|   15|
|   30|   13|
|   29|    5|
|   28|    3|
|   27|    5|
|   26|    2|
+-----+-----+

#### Definição de Faixas de Idades e Criação de um novo dataframe que só tem a Renda Grau de Instrução e Idade

In [30]:
df4=df3.select('ID','GrauInstrucao', 'Idade', 'Renda').withColumn('FaixaIdade', F.when((col('Idade')>70), lit('>70'))
                                                   .when((col('Idade')>60), lit('60-70'))
                                                   .when((col('Idade')>50), lit('50-60'))
                                                   .when((col('Idade')>40), lit('40-50'))
                                                   .when((col('Idade')>30), lit('30-40'))
                                                   .when((col('Idade')>20), lit('>20')))
df4.show()

+-----+-------------+-----+-------+----------+
|   ID|GrauInstrucao|Idade|  Renda|FaixaIdade|
+-----+-------------+-----+-------+----------+
| 9283|     Graduado|   44|60199.0|     40-50|
| 9499|     Graduado|   68|93404.0|     60-70|
| 2795|     Mestrado|   64|30523.0|     60-70|
| 1357|     Graduado|   52|74854.0|     50-60|
| 4370|     Graduado|   56|43482.0|     50-60|
| 7284|     Graduado|   69|48686.0|     60-70|
| 4148|     Graduado|   50|38988.0|     40-50|
| 5885|Segundo Ciclo|   49|35688.0|     40-50|
| 8477|     Graduado|   66|26150.0|     60-70|
|10492|     Graduado|   63|38285.0|     60-70|
| 6222|     Graduado|   55|22574.0|     50-60|
| 3153|          PhD|   65|40737.0|     60-70|
| 8953|     Mestrado|   57|35791.0|     50-60|
|10350|          PhD|   72|54432.0|       >70|
| 8461|     Graduado|   60|46102.0|     50-60|
| 2552|          PhD|   67|55521.0|     60-70|
| 6940|          PhD|   56|46734.0|     50-60|
| 9579|          PhD|   63|33762.0|     60-70|
|11171|     Mestrado|   57|56962.0|     50-60|
| 2826|     Graduado|   55|22574.0|     50-60|
+-----+-------------+-----+-------+----------+
only showing top 20 rows

#### Tabela com a renda dos clientes de acordo com a Faixa de Idade e o Grau de instrução

In [31]:
df5=df4.groupBy('GrauInstrucao').pivot('FaixaIdade').mean('Renda').fillna(0)
df5.select(['GrauInstrucao','>20','30-40','40-50','50-60','60-70','>70' ]).show()

+-------------+-------+------------------+------------------+------------------+-----------------+------------------+
|GrauInstrucao|    >20|             30-40|             40-50|             50-60|            60-70|               >70|
+-------------+-------+------------------+------------------+------------------+-----------------+------------------+
|Segundo Ciclo|64593.5| 39176.28947368421|           41534.7| 53663.17647058824|58657.27027027027| 65988.85714285714|
|          PhD|    0.0|58421.519230769234|         53095.352|53702.156028368794|58119.43010752688| 62199.24285714285|
|     Graduado|65198.0| 45467.30357142857| 52055.64652567976| 52530.02380952381|56757.25306122449|57529.360655737706|
|     Mestrado|67764.5| 45843.53658536585|49641.868131868134| 52108.31428571429|57171.58139534884|         59856.175|
|       Básico|14635.2|           19429.2|           21076.0|           21221.0|          21352.2|           27693.0|
+-------------+-------+------------------+------------------+------------------+-----------------+------------------+

#### Numero de compras pelo website, catalogo e loja conforme o estado civil

In [32]:
w0=Window.partitionBy(F.col('EstadoCivil'))
w1=Window.partitionBy(F.col('EstadoCivil')).orderBy('ID')
a=df3.withColumn('rank', F.rank().over(w1)).withColumn('Web',F.sum('QtdComprasWeb').over(w0)).withColumn('Catalogo', F.sum('QtdCompraCatalogo').over(w0)).withColumn('Loja', F.sum('QtdCompraLoja').over(w0)).where(F.col('rank')==1).select('EstadoCivil', 'Web', 'Catalogo', 'Loja')
a.sort('Web').show()

+------------------+----+--------+----+
|       EstadoCivil| Web|Catalogo|Loja|
+------------------+----+--------+----+
|           Absurdo|   7|      15|  13|
|Só se vive uma vez|  14|       2|  12|
|           Sozinho|  15|       2|  12|
|             Viúvo| 351|     251| 483|
|        Divorciado|1000|     620|1350|
|          Solteiro|1814|    1240|2674|
|           Juntado|2351|    1535|3298|
|            Casado|3501|    2254|5013|
+------------------+----+--------+----+

#### Definição de outro dataframe com a faixa etária que tenha o número de reclamações para verificação de qual grupo etário mais fez reclamações

In [33]:
df6=df3.select('GrauInstrucao', 'Idade', 'Renda', 'Reclamacao').withColumn('FaixaIdade', F.when((col('Idade')>70), lit('>70'))
                                                   .when((col('Idade')>60), lit('60-70'))
                                                   .when((col('Idade')>50), lit('50-60'))
                                                   .when((col('Idade')>40), lit('40-50'))
                                                   .when((col('Idade')>30), lit('30-40'))
                                                   .when((col('Idade')>20), lit('>20')))

In [34]:
win0=Window.partitionBy(F.col('FaixaIdade'))
win1=Window.partitionBy(F.col('FaixaIdade')).orderBy('Reclamacao')
df7=df6.withColumn('rank', F.row_number().over(win1)).withColumn('TotalReclamação',sum('Reclamacao').over(win0)).where(F.col('rank') == 1).select('FaixaIdade', 'TotalReclamação')
df7.orderBy('TotalReclamação', ascending=False).show()

+----------+---------------+
|FaixaIdade|TotalReclamação|
+----------+---------------+
|     60-70|              6|
|     40-50|              6|
|       >70|              4|
|     30-40|              3|
|     50-60|              1|
|       >20|              1|
+----------+---------------+

In [35]:
df6.groupBy('FaixaIdade').agg(sum('Reclamacao').alias('TotalReclamação')).orderBy('TotalReclamação', ascending=False).show()

+----------+---------------+
|FaixaIdade|TotalReclamação|
+----------+---------------+
|     60-70|              6|
|     40-50|              6|
|       >70|              4|
|     30-40|              3|
|       >20|              1|
|     50-60|              1|
+----------+---------------+

---
## SparkSQL
---

### Definição da Tabelas que serão usadas nas queries

In [36]:
df2.createOrReplaceTempView("clientes")

In [37]:
###SQL
df3=df3.withColumn('DataConta', F.to_date(F.col('DataConta'), 'dd-mm-yyyy'))
df3.createOrReplaceTempView('clientes')
df4.createOrReplaceTempView('clientesFaixa')
spark.sql("SELECT * FROM clientes").show()

+-----+-------------+-------------+-----------+-------+-----------+---------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+--------------+----------+------+--------------+-----+
|   ID|AnoNascimento|GrauInstrucao|EstadoCivil|  Renda|QtdCriancas|QtdAdolescentes| DataConta|UltimaCompra|QtdVinho|QtdFrutas|QtdCarne|QtdPeixe|QtdDoces|QtdOuro|QtdComprasDesconto|QtdComprasWeb|QtdCompraCatalogo|QtdCompraLoja|NumVisitasSite|AceitouCam3|AceitouCam4|AceitouCam5|AceitouCam1|AceitouCam2|Reclamacao|UltimaCampanha|TotalGasto|Filhos|        Status|Idade|
+-----+-------------+-------------+-----------+-------+-----------+---------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+--------------+----------+------+--------------+-----+
| 9283|         1978|     Graduado|   Solteiro|60199.0|          1|              2|2013-01-12|          49|       8|        1|       7|       2|       0|      0|                 1|            0|                0|            3|             4|          0|          0|          0|          0|          0|         0|             0|        18|     3|Filhos em casa|   44|
| 9499|         1954|     Graduado|     Casado|93404.0|          1|              2|2013-01-07|          97|    1279|       15|     287|      20|       0|     15|                 3|            3|                4|            7|             5|          0|          1|          1|          0|          0|         0|             0|      1616|     3|Filhos em casa|   68|
| 2795|         1958|     Mestrado|   Solteiro|30523.0|          2|              1|2013-01-01|           0|       5|        0|       3|       0|       0|      5|                 1|            1|                0|            2|             7|          0|          0|          0|          0|          0|         0|             0|        13|     3|Filhos em casa|   64|
| 1357|         1970|     Graduado|    Juntado|74854.0|          1|              2|2013-01-08|          90|     856|       59|     487|      58|      29|     73|                 7|            2|                5|            5|             5|          0|          0|          0|          0|          0|         0|             0|      1533|     3|Filhos em casa|   52|
| 4370|         1966|     Graduado|    Juntado|43482.0|          2|              1|2013-01-13|          83|      18|        1|      32|       6|       3|     28|                 3|            2|                0|            4|             6|          0|          0|          0|          0|          0|         0|             0|        85|     3|Filhos em casa|   56|
| 7284|         1953|     Graduado|     Casado|48686.0|          1|              2|2013-01-04|           8|      10|        0|       7|       2|       0|      1|                 1|            1|                0|            2|             8|          0|          0|          0|          0|          0|         0|             0|        20|     3|Filhos em casa|   69|
| 4148|         1972|     Graduado|     Casado|38988.0|          1|              2|2012-01-20|          90|     164|       24|     103|      12|       3|     42|                 7|            5|                1|            6|             8|          0|          0|          0|          0|          0|         0|             0|       345|     3|Filhos em casa|   50|
| 5885|         1973|Segundo Ciclo|     Casado|35688.0|          2|              1|2012-01-22|          94|      73|        3|      90|      12|       1|     32|                 7|            4|                1|            4|             8|          0|          0|          0|          0|          0|         0|             0|       210|     3|Filhos em casa|   49|
| 8477|         1956|     Graduado| Divorciado|26150.0|          2|              1|2013-01-11|          61|       5|        1|      13|       3|       5|      1|                 1|            1|                0|            3|             7|          0|          0|          0|          0|          0|         0|             0|        23|     3|Filhos em casa|   66|
|10492|         1959|     Graduado|    Juntado|38285.0|          2|              1|2014-01-24|          96|       2|        0|       5|       2|       0|      1|                 1|            0|                0|            3|             2|          0|          0|          0|          0|          0|         0|             0|        10|     3|Filhos em casa|   63|
| 6222|         1967|     Graduado|     Casado|22574.0|          2|              1|2013-01-28|          28|      25|        0|       8|       2|       0|      2|                 2|            2|                0|            3|             7|          0|          0|          0|          0|          0|         0|             0|        37|     3|Filhos em casa|   55|
| 3153|         1957|          PhD|   Solteiro|40737.0|          2|              1|2013-01-08|          24|      11|        0|       4|       0|       0|      2|                 1|            1|                0|            2|             8|          0|          0|          0|          0|          0|         0|             0|        17|     3|Filhos em casa|   65|
| 8953|         1965|     Mestrado|   Solteiro|35791.0|          2|              1|2013-01-06|          94|      27|        0|       5|       0|       0|      3|                 2|            1|                0|            3|             8|          0|          0|          0|          0|          0|         0|             0|        35|     3|Filhos em casa|   57|
|10350|         1950|          PhD|     Casado|54432.0|          2|              1|2013-01-09|          37|      33|        0|       5|       0|       0|      0|                 1|            1|                0|            3|             4|          0|          0|          0|          0|          0|         0|             0|        38|     3|Filhos em casa|   72|
| 8461|         1962|     Graduado| Divorciado|46102.0|          2|              1|2014-01-10|           3|      14|        0|       1|       0|       0|      1|                 1|            1|                0|            2|             7|          0|          0|          0|          0|          0|         0|             0|        16|     3|Filhos em casa|   60|
| 2552|         1955|          PhD|   Solteiro|55521.0|          1|              2|2013-01-22|          11|     416|        0|      26|       0|       0|      4|                 9|            6|                3|            6|             7|          0|          1|          0|          0|          0|         0|             1|       446|     3|Filhos em casa|   67|
| 6940|         1966|          PhD|   Solteiro|46734.0|          1|              2|2013-01-21|          86|     100|        1|      39|       6|       1|     76|                 4|            3|                2|            3|             6|          1|          0|          0|          0|          0|         0|             0|       222|     3|Filhos em casa|   56|
| 9579|         1959|          PhD|     Casado|33762.0|          2|              1|2013-01-07|          61|      53|        1|      34|       2|       0|     16|                 3|            2|                2|            2|             8|          0|          0|          0|          0|          0|         0|             0|       106|     3|Filhos em casa|   63|
|11171|         1965|     Mestrado|     Casado|56962.0|          2|              1|2013-01-11|          60|     292|        3|      77|      10|       3|     26|                 7|            6|                3|            5|             7|          0|          0|          0|          0|          0|         0|             0|       408|     3|Filhos em casa|   57|
| 2826|         1967|     Graduado|     Casado|22574.0|          2|              1|2013-01-28|          28|      25|        0|       8|       2|       0|      2|                 2|            2|                0|            3|             7|          0|          0|          0|          0|          0|         0|             0|        37|     3|Filhos em casa|   55|
+-----+-------------+-------------+-----------+-------+-----------+---------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+--------------+----------+------+--------------+-----+
only showing top 20 rows

#### Verificação da quantidade de clientes com renda superior a 50000

In [38]:
spark.sql("SELECT count(Renda) from clientes\
          where Renda>50000").show()

+------------+
|count(Renda)|
+------------+
|        1156|
+------------+

#### Quantidade de clientes que não fizeram compras nos ultimos 2 meses

In [39]:
spark.sql("SELECT * FROM clientes\
        WHERE UltimaCompra>60\
        order by UltimaCompra DESC").show()

+-----+-------------+-------------+-----------+-------+-----------+---------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+--------------+----------+------+--------------+-----+
|   ID|AnoNascimento|GrauInstrucao|EstadoCivil|  Renda|QtdCriancas|QtdAdolescentes| DataConta|UltimaCompra|QtdVinho|QtdFrutas|QtdCarne|QtdPeixe|QtdDoces|QtdOuro|QtdComprasDesconto|QtdComprasWeb|QtdCompraCatalogo|QtdCompraLoja|NumVisitasSite|AceitouCam3|AceitouCam4|AceitouCam5|AceitouCam1|AceitouCam2|Reclamacao|UltimaCampanha|TotalGasto|Filhos|        Status|Idade|
+-----+-------------+-------------+-----------+-------+-----------+---------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+--------------+----------+------+--------------+-----+
| 7829|         1900|Segundo Ciclo| Divorciado|36640.0|          1|              0|2013-01-26|          99|      15|        6|       8|       7|       4|     25|                 1|            2|                1|            2|             5|          0|          0|          0|          0|          0|         1|             0|        61|     1|Filhos em casa|  122|
|10142|         1976|          PhD| Divorciado|66476.0|          0|              1|2013-01-07|          99|     372|       18|     126|      47|      48|     78|                 2|            5|                2|           11|             4|          0|          0|          0|          0|          0|         0|             0|       641|     1|Filhos em casa|   46|
|   22|         1976|     Graduado| Divorciado|46310.0|          1|              0|2012-01-03|          99|     185|        2|      88|      15|       5|     14|                 2|            6|                1|            5|             8|          0|          0|          0|          0|          0|         0|             0|       304|     1|Filhos em casa|   46|
| 7232|         1973|     Graduado|      Viúvo|42429.0|          0|              1|2014-01-11|          99|      55|        0|       6|       2|       0|      4|                 2|            1|                1|            3|             5|          0|          0|          0|          0|          0|         0|             0|        67|     1|Filhos em casa|   49|
| 9977|         1973|     Graduado| Divorciado|78901.0|          0|              1|2013-01-17|          99|     321|       11|     309|      33|      26|     34|                 3|            9|                3|            5|             4|          0|          0|          0|          0|          0|         0|             0|       708|     1|Filhos em casa|   49|
| 8595|         1973|     Graduado|      Viúvo|42429.0|          0|              1|2014-01-11|          99|      55|        0|       6|       2|       0|      4|                 2|            1|                1|            3|             5|          0|          0|          0|          0|          0|         0|             0|        67|     1|Filhos em casa|   49|
| 3363|         1974|Segundo Ciclo|     Casado|20130.0|          0|              0|2014-01-17|          99|       0|        6|       3|       7|       6|     12|                 1|            1|                0|            3|             8|          0|          0|          0|          0|          0|         0|             0|        28|     0|    Sem Filhos|   48|
| 4070|         1969|          PhD|     Casado|94871.0|          0|              2|2012-01-01|          99|     169|       24|     553|     188|       0|    144|                 1|            8|                5|            4|             7|          0|          1|          1|          0|          0|         0|             1|      1078|     2|Filhos em casa|   53|
|  528|         1978|     Graduado|     Casado|65819.0|          0|              0|2012-01-29|          99|     267|       38|     701|     149|     165|     63|                 1|            5|                4|           10|             3|          0|          0|          0|          0|          0|         0|             0|      1218|     0|    Sem Filhos|   44|
| 7947|         1969|     Graduado|     Casado|42231.0|          1|              1|2014-01-25|          99|      24|        0|       8|       0|       1|      4|                 1|            1|                0|            3|             5|          0|          0|          0|          0|          0|         0|             0|        36|     2|Filhos em casa|   53|
| 2831|         1976|     Graduado|    Juntado|78416.0|          0|              1|2014-01-27|          99|     453|       38|     279|     188|      38|    183|                 2|            7|                7|           10|             3|          0|          0|          0|          0|          0|         0|             0|      1141|     1|Filhos em casa|   46|
| 2415|         1962|     Graduado|    Juntado|62568.0|          0|              1|2014-01-07|          99|     362|       17|     398|      80|      35|     61|                 3|            5|                3|            5|             4|          0|          0|          0|          1|          0|         0|             0|       918|     1|Filhos em casa|   60|
| 1743|         1974|     Graduado|   Solteiro|69719.0|          0|              0|2014-01-26|          99|     273|       86|     208|     177|      14|     43|                 1|            2|                3|            5|             1|          0|          0|          0|          0|          0|         0|             0|       787|     0|    Sem Filhos|   48|
| 7212|         1966|     Graduado|     Casado|44794.0|          0|              1|2014-01-08|          99|      54|        0|       7|       0|       0|      4|                 1|            2|                0|            3|             6|          0|          0|          0|          0|          0|         0|             0|        65|     1|Filhos em casa|   56|
|  868|         1966|     Graduado|     Casado|44794.0|          0|              1|2014-01-08|          99|      54|        0|       7|       0|       0|      4|                 1|            2|                0|            3|             6|          0|          0|          0|          0|          0|         0|             0|        65|     1|Filhos em casa|   56|
| 5263|         1977|Segundo Ciclo|     Casado|31056.0|          1|              0|2013-01-22|          99|       5|       10|      13|       3|       8|     16|                 1|            1|                0|            3|             8|          0|          0|          0|          0|          0|         0|             0|        47|     1|Filhos em casa|   45|
| 2106|         1974|Segundo Ciclo|     Casado|20130.0|          0|              0|2014-01-17|          99|       0|        6|       3|       7|       6|     12|                 1|            1|                0|            3|             8|          0|          0|          0|          0|          0|         0|             0|        28|     0|    Sem Filhos|   48|
|  313|         1968|     Graduado|      Viúvo|73455.0|          0|              0|2013-01-28|          98|     901|       61|     757|     186|     163|     20|                 1|            6|                5|           10|             3|          0|          1|          0|          0|          0|         0|             0|      1925|     0|    Sem Filhos|   54|
| 5602|         1989|          PhD|    Juntado|66973.0|          0|              0|2013-01-17|          98|     466|       22|     432|     147|     113|    102|                 1|            8|                7|           12|             3|          0|          0|          0|          0|          0|         0|             0|      1169|     0|    Sem Filhos|   33|
| 8541|         1990|Segundo Ciclo|     Casado|24683.0|          1|              0|2014-01-08|          98|       8|        4|      10|       6|       7|      6|                 2|            2|                0|            4|             5|          0|          0|          0|          0|          0|         0|             0|        34|     1|Filhos em casa|   32|
+-----+-------------+-------------+-----------+-------+-----------+---------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+--------------+----------+------+--------------+-----+
only showing top 20 rows

#### Quantidade de clientes que abriram a conta por ano e quanto foi gasto

In [40]:
spark.sql('SELECT EXTRACT(year FROM DataConta) AS ano,\
           SUM(TotalGasto) as TotalPorAnoConta,\
           COUNT(ID) as TotalClienteAbriuConta\
           FROM clientes\
           GROUP BY EXTRACT(year FROM DataConta)\
           ORDER BY TotalPorAnoConta').show()

+----+----------------+----------------------+
| ano|TotalPorAnoConta|TotalClienteAbriuConta|
+----+----------------+----------------------+
|2014|          260252|                   553|
|2012|          350096|                   490|
|2013|          675035|                  1173|
+----+----------------+----------------------+

#### Média de compras com desconto e pela internet por Grau de Instrução

In [41]:
spark.sql('SELECT GrauInstrucao, MEAN(QtdComprasDesconto),MEAN(QtdComprasWeb), COUNT(ID) \
        FROM clientes\
        GROUP BY GrauInstrucao\
        ORDER BY MEAN(QtdComprasWeb) ').show()

+-------------+------------------------+-------------------+---------+
|GrauInstrucao|mean(QtdComprasDesconto)|mean(QtdComprasWeb)|count(ID)|
+-------------+------------------------+-------------------+---------+
|       Básico|      1.7962962962962963| 1.8888888888888888|       54|
|Segundo Ciclo|                    2.26|              3.765|      200|
|     Mestrado|      2.4246575342465753|  4.035616438356165|      365|
|     Graduado|      2.3118279569892475|  4.115591397849462|     1116|
|          PhD|        2.35966735966736| 4.4324324324324325|      481|
+-------------+------------------------+-------------------+---------+

#### Gastos por faixa de idade

In [42]:
spark.sql('SELECT FaixaIdade, mean(TotalGasto) \
from clientes, clientesFaixa \
where clientes.ID=clientesFaixa.ID \
group by FaixaIdade' ).show()

+----------+-----------------+
|FaixaIdade| mean(TotalGasto)|
+----------+-----------------+
|     40-50|476.1648690292758|
|       >20|788.1785714285714|
|       >70|            750.3|
|     60-70|667.2317596566523|
|     50-60|583.6303972366148|
|     30-40|542.6019108280254|
+----------+-----------------+