In [1]:
%run dados.ipynb

In [2]:
spark = (SparkSession.builder
        .master("local")
        .appName("projetosoulcode")
        .config('spark.jars','gcs-connector-hadoop3-latest.jar' )
        .config('spark.hadoop.fs.gs.impl','com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem')
        .config('spark.hadoop.fs.gs.auth.service.account.enable', 'true')
        .config("spark.hadoop.google.cloud.auth.service.account.json.keyfile",'soulcodeproject-44ce61622773.json')
        .config('spark.hadoop.fs.gs.project.id','soulcodeproject')
        .getOrCreate())
spark.conf.set("spark.sql.caseSensitive", "true")

In [3]:
schema = (
    StructType([
        StructField("ID",IntegerType(), False),
        StructField("AnoNascimento", IntegerType(), False),
        StructField("GrauInstrução", StringType(), True),
        StructField("EstadoCivil", StringType(), True),
        StructField("Renda", DoubleType(), True),
        StructField("NumCrianca", IntegerType(), True),
        StructField("NumAdolescente", IntegerType(), True),
        StructField("DataConta", StringType(), True),
        StructField("UltimaCompra", IntegerType(), True),
        StructField("QtdVinho", IntegerType(), True),
        StructField("QtdFrutas", IntegerType(), True),
        StructField("QtdCarne", IntegerType(), True),
        StructField("QtdPeixe", IntegerType(), True),
        StructField("QtdDoces", IntegerType(), True),
        StructField("QtdOuro", IntegerType(), True),
        StructField("QtdComprasDesconto", IntegerType(), True),
        StructField("QtdComprasWeb", IntegerType(), True),
        StructField("QtdCompraCatalogo", IntegerType(), True),
        StructField("QtdCompraLoja", IntegerType(), True),
        StructField("NumVisitasSite", IntegerType(), True),
        StructField("AceitouCam3", IntegerType(), True),
        StructField("AceitouCam4", IntegerType(), True),
        StructField("AceitouCam5", IntegerType(), True),
        StructField("AceitouCam1", IntegerType(), True),
        StructField("AceitouCam2", IntegerType(), True),
        StructField("Reclamacao", IntegerType(), True),
        StructField("CustoContato", IntegerType(), True),
        StructField("Receita", IntegerType(), True),
        StructField("UltimaCampanha", IntegerType(), True),
    ])
)

In [4]:
df2= (
    spark
       .read
       .format("csv")
       .option("header", "true")
       .option("delimiter", ",")
       .load('gs://soulcodeprojeto/marketing_campaign.csv',schema=schema)
)

In [5]:
df2.show()
print(df2.count(), len(df2.columns))

+----+-------------+-------------+-----------+-------+----------+--------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+------------+-------+--------------+
|  ID|AnoNascimento|GrauInstrução|EstadoCivil|  Renda|NumCrianca|NumAdolescente| DataConta|UltimaCompra|QtdVinho|QtdFrutas|QtdCarne|QtdPeixe|QtdDoces|QtdOuro|QtdComprasDesconto|QtdComprasWeb|QtdCompraCatalogo|QtdCompraLoja|NumVisitasSite|AceitouCam3|AceitouCam4|AceitouCam5|AceitouCam1|AceitouCam2|Reclamacao|CustoContato|Receita|UltimaCampanha|
+----+-------------+-------------+-----------+-------+----------+--------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+------------+-------+--------------+
|5524|         1957|   Graduation|     Single|58138.0|         0|             0|04-09-2012|          58|     635|       88|     546|     172|      88|     88|                 3|            8|               10|            4|             7|          0|          0|          0|          0|          0|         0|           3|     11|             1|
|2174|         1954|   Graduation|     Single|46344.0|         1|             1|08-03-2014|          38|      11|        1|       6|       2|       1|      6|                 2|            1|                1|            2|             5|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|4141|         1965|   Graduation|   Together|71613.0|         0|             0|21-08-2013|          26|     426|       49|     127|     111|      21|     42|                 1|            8|                2|           10|             4|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|6182|         1984|   Graduation|   Together|26646.0|         1|             0|10-02-2014|          26|      11|        4|      20|      10|       3|      5|                 2|            2|                0|            4|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|5324|         1981|          PhD|    Married|58293.0|         1|             0|19-01-2014|          94|     173|       43|     118|      46|      27|     15|                 5|            5|                3|            6|             5|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|7446|         1967|       Master|   Together|62513.0|         0|             1|09-09-2013|          16|     520|       42|      98|       0|      42|     14|                 2|            6|                4|           10|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
| 965|         1971|   Graduation|   Divorced|55635.0|         0|             1|13-11-2012|          34|     235|       65|     164|      50|      49|     27|                 4|            7|                3|            7|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|6177|         1985|          PhD|    Married|33454.0|         1|             0|08-05-2013|          32|      76|       10|      56|       3|       1|     23|                 2|            4|                0|            4|             8|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|4855|         1974|          PhD|   Together|30351.0|         1|             0|06-06-2013|          19|      14|        0|      24|       3|       3|      2|                 1|            3|                0|            2|             9|          0|          0|          0|          0|          0|         0|           3|     11|             1|
|5899|         1950|          PhD|   Together| 5648.0|         1|             1|13-03-2014|          68|      28|        0|       6|       1|       1|     13|                 1|            1|                0|            0|            20|          1|          0|          0|          0|          0|         0|           3|     11|             0|
|1994|         1983|   Graduation|    Married|   null|         1|             0|15-11-2013|          11|       5|        5|       6|       0|       2|      1|                 1|            1|                0|            2|             7|          0|          0|          0|          0|          0|         0|           3|     11|             0|
| 387|         1976|        Basic|    Married| 7500.0|         0|             0|13-11-2012|          59|       6|       16|      11|      11|       1|     16|                 1|            2|                0|            3|             8|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|2125|         1959|   Graduation|   Divorced|63033.0|         0|             0|15-11-2013|          82|     194|       61|     480|     225|     112|     30|                 1|            3|                4|            8|             2|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|8180|         1952|       Master|   Divorced|59354.0|         1|             1|15-11-2013|          53|     233|        2|      53|       3|       5|     14|                 3|            6|                1|            5|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|2569|         1987|   Graduation|    Married|17323.0|         0|             0|10-10-2012|          38|       3|       14|      17|       6|       1|      5|                 1|            1|                0|            3|             8|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|2114|         1946|          PhD|     Single|82800.0|         0|             0|24-11-2012|          23|    1006|       22|     115|      59|      68|     45|                 1|            7|                6|           12|             3|          0|          0|          1|          1|          0|         0|           3|     11|             1|
|9736|         1980|   Graduation|    Married|41850.0|         1|             1|24-12-2012|          51|      53|        5|      19|       2|      13|      4|                 3|            3|                0|            3|             8|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|4939|         1946|   Graduation|   Together|37760.0|         0|             0|31-08-2012|          20|      84|        5|      38|     150|      12|     28|                 2|            4|                1|            6|             7|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|6565|         1949|       Master|    Married|76995.0|         0|             1|28-03-2013|          91|    1012|       80|     498|       0|      16|    176|                 2|           11|                4|            9|             5|          0|          0|          0|          1|          0|         0|           3|     11|             0|
|2278|         1985|     2n Cycle|     Single|33812.0|         1|             0|03-11-2012|          86|       4|       17|      19|      30|      24|     39|                 2|            2|                1|            3|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
+----+-------------+-------------+-----------+-------+----------+--------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+------------+-------+--------------+
only showing top 20 rows

2240 29

In [6]:
a=[x[0] for x in df2.select('GrauInstrução').distinct().collect()]
df2=df2.replace(a, ['Segundo Ciclo', 'PhD', 'Mestrado', 'Graduado', 'Básico'])
df2.show()

+----+-------------+-------------+-----------+-------+----------+--------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+------------+-------+--------------+
|  ID|AnoNascimento|GrauInstrução|EstadoCivil|  Renda|NumCrianca|NumAdolescente| DataConta|UltimaCompra|QtdVinho|QtdFrutas|QtdCarne|QtdPeixe|QtdDoces|QtdOuro|QtdComprasDesconto|QtdComprasWeb|QtdCompraCatalogo|QtdCompraLoja|NumVisitasSite|AceitouCam3|AceitouCam4|AceitouCam5|AceitouCam1|AceitouCam2|Reclamacao|CustoContato|Receita|UltimaCampanha|
+----+-------------+-------------+-----------+-------+----------+--------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+------------+-------+--------------+
|5524|         1957|     Graduado|     Single|58138.0|         0|             0|04-09-2012|          58|     635|       88|     546|     172|      88|     88|                 3|            8|               10|            4|             7|          0|          0|          0|          0|          0|         0|           3|     11|             1|
|2174|         1954|     Graduado|     Single|46344.0|         1|             1|08-03-2014|          38|      11|        1|       6|       2|       1|      6|                 2|            1|                1|            2|             5|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|4141|         1965|     Graduado|   Together|71613.0|         0|             0|21-08-2013|          26|     426|       49|     127|     111|      21|     42|                 1|            8|                2|           10|             4|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|6182|         1984|     Graduado|   Together|26646.0|         1|             0|10-02-2014|          26|      11|        4|      20|      10|       3|      5|                 2|            2|                0|            4|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|5324|         1981|          PhD|    Married|58293.0|         1|             0|19-01-2014|          94|     173|       43|     118|      46|      27|     15|                 5|            5|                3|            6|             5|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|7446|         1967|     Mestrado|   Together|62513.0|         0|             1|09-09-2013|          16|     520|       42|      98|       0|      42|     14|                 2|            6|                4|           10|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
| 965|         1971|     Graduado|   Divorced|55635.0|         0|             1|13-11-2012|          34|     235|       65|     164|      50|      49|     27|                 4|            7|                3|            7|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|6177|         1985|          PhD|    Married|33454.0|         1|             0|08-05-2013|          32|      76|       10|      56|       3|       1|     23|                 2|            4|                0|            4|             8|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|4855|         1974|          PhD|   Together|30351.0|         1|             0|06-06-2013|          19|      14|        0|      24|       3|       3|      2|                 1|            3|                0|            2|             9|          0|          0|          0|          0|          0|         0|           3|     11|             1|
|5899|         1950|          PhD|   Together| 5648.0|         1|             1|13-03-2014|          68|      28|        0|       6|       1|       1|     13|                 1|            1|                0|            0|            20|          1|          0|          0|          0|          0|         0|           3|     11|             0|
|1994|         1983|     Graduado|    Married|   null|         1|             0|15-11-2013|          11|       5|        5|       6|       0|       2|      1|                 1|            1|                0|            2|             7|          0|          0|          0|          0|          0|         0|           3|     11|             0|
| 387|         1976|       Básico|    Married| 7500.0|         0|             0|13-11-2012|          59|       6|       16|      11|      11|       1|     16|                 1|            2|                0|            3|             8|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|2125|         1959|     Graduado|   Divorced|63033.0|         0|             0|15-11-2013|          82|     194|       61|     480|     225|     112|     30|                 1|            3|                4|            8|             2|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|8180|         1952|     Mestrado|   Divorced|59354.0|         1|             1|15-11-2013|          53|     233|        2|      53|       3|       5|     14|                 3|            6|                1|            5|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|2569|         1987|     Graduado|    Married|17323.0|         0|             0|10-10-2012|          38|       3|       14|      17|       6|       1|      5|                 1|            1|                0|            3|             8|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|2114|         1946|          PhD|     Single|82800.0|         0|             0|24-11-2012|          23|    1006|       22|     115|      59|      68|     45|                 1|            7|                6|           12|             3|          0|          0|          1|          1|          0|         0|           3|     11|             1|
|9736|         1980|     Graduado|    Married|41850.0|         1|             1|24-12-2012|          51|      53|        5|      19|       2|      13|      4|                 3|            3|                0|            3|             8|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|4939|         1946|     Graduado|   Together|37760.0|         0|             0|31-08-2012|          20|      84|        5|      38|     150|      12|     28|                 2|            4|                1|            6|             7|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|6565|         1949|     Mestrado|    Married|76995.0|         0|             1|28-03-2013|          91|    1012|       80|     498|       0|      16|    176|                 2|           11|                4|            9|             5|          0|          0|          0|          1|          0|         0|           3|     11|             0|
|2278|         1985|Segundo Ciclo|     Single|33812.0|         1|             0|03-11-2012|          86|       4|       17|      19|      30|      24|     39|                 2|            2|                1|            3|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
+----+-------------+-------------+-----------+-------+----------+--------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+------------+-------+--------------+
only showing top 20 rows

In [7]:
b=[x[0] for x in df2.select('EstadoCivil').distinct().collect()]
df2=df2.replace(b,['Só se vive uma vez', 'Juntado', 'Casado', 'Absurdo', 'Viúvo','Divorciado', 'Sozinho', 'Solteiro'])
df2.show()

+----+-------------+-------------+-----------+-------+----------+--------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+------------+-------+--------------+
|  ID|AnoNascimento|GrauInstrução|EstadoCivil|  Renda|NumCrianca|NumAdolescente| DataConta|UltimaCompra|QtdVinho|QtdFrutas|QtdCarne|QtdPeixe|QtdDoces|QtdOuro|QtdComprasDesconto|QtdComprasWeb|QtdCompraCatalogo|QtdCompraLoja|NumVisitasSite|AceitouCam3|AceitouCam4|AceitouCam5|AceitouCam1|AceitouCam2|Reclamacao|CustoContato|Receita|UltimaCampanha|
+----+-------------+-------------+-----------+-------+----------+--------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+------------+-------+--------------+
|5524|         1957|     Graduado|   Solteiro|58138.0|         0|             0|04-09-2012|          58|     635|       88|     546|     172|      88|     88|                 3|            8|               10|            4|             7|          0|          0|          0|          0|          0|         0|           3|     11|             1|
|2174|         1954|     Graduado|   Solteiro|46344.0|         1|             1|08-03-2014|          38|      11|        1|       6|       2|       1|      6|                 2|            1|                1|            2|             5|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|4141|         1965|     Graduado|    Juntado|71613.0|         0|             0|21-08-2013|          26|     426|       49|     127|     111|      21|     42|                 1|            8|                2|           10|             4|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|6182|         1984|     Graduado|    Juntado|26646.0|         1|             0|10-02-2014|          26|      11|        4|      20|      10|       3|      5|                 2|            2|                0|            4|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|5324|         1981|          PhD|     Casado|58293.0|         1|             0|19-01-2014|          94|     173|       43|     118|      46|      27|     15|                 5|            5|                3|            6|             5|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|7446|         1967|     Mestrado|    Juntado|62513.0|         0|             1|09-09-2013|          16|     520|       42|      98|       0|      42|     14|                 2|            6|                4|           10|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
| 965|         1971|     Graduado| Divorciado|55635.0|         0|             1|13-11-2012|          34|     235|       65|     164|      50|      49|     27|                 4|            7|                3|            7|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|6177|         1985|          PhD|     Casado|33454.0|         1|             0|08-05-2013|          32|      76|       10|      56|       3|       1|     23|                 2|            4|                0|            4|             8|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|4855|         1974|          PhD|    Juntado|30351.0|         1|             0|06-06-2013|          19|      14|        0|      24|       3|       3|      2|                 1|            3|                0|            2|             9|          0|          0|          0|          0|          0|         0|           3|     11|             1|
|5899|         1950|          PhD|    Juntado| 5648.0|         1|             1|13-03-2014|          68|      28|        0|       6|       1|       1|     13|                 1|            1|                0|            0|            20|          1|          0|          0|          0|          0|         0|           3|     11|             0|
|1994|         1983|     Graduado|     Casado|   null|         1|             0|15-11-2013|          11|       5|        5|       6|       0|       2|      1|                 1|            1|                0|            2|             7|          0|          0|          0|          0|          0|         0|           3|     11|             0|
| 387|         1976|       Básico|     Casado| 7500.0|         0|             0|13-11-2012|          59|       6|       16|      11|      11|       1|     16|                 1|            2|                0|            3|             8|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|2125|         1959|     Graduado| Divorciado|63033.0|         0|             0|15-11-2013|          82|     194|       61|     480|     225|     112|     30|                 1|            3|                4|            8|             2|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|8180|         1952|     Mestrado| Divorciado|59354.0|         1|             1|15-11-2013|          53|     233|        2|      53|       3|       5|     14|                 3|            6|                1|            5|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|2569|         1987|     Graduado|     Casado|17323.0|         0|             0|10-10-2012|          38|       3|       14|      17|       6|       1|      5|                 1|            1|                0|            3|             8|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|2114|         1946|          PhD|   Solteiro|82800.0|         0|             0|24-11-2012|          23|    1006|       22|     115|      59|      68|     45|                 1|            7|                6|           12|             3|          0|          0|          1|          1|          0|         0|           3|     11|             1|
|9736|         1980|     Graduado|     Casado|41850.0|         1|             1|24-12-2012|          51|      53|        5|      19|       2|      13|      4|                 3|            3|                0|            3|             8|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|4939|         1946|     Graduado|    Juntado|37760.0|         0|             0|31-08-2012|          20|      84|        5|      38|     150|      12|     28|                 2|            4|                1|            6|             7|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|6565|         1949|     Mestrado|     Casado|76995.0|         0|             1|28-03-2013|          91|    1012|       80|     498|       0|      16|    176|                 2|           11|                4|            9|             5|          0|          0|          0|          1|          0|         0|           3|     11|             0|
|2278|         1985|Segundo Ciclo|   Solteiro|33812.0|         1|             0|03-11-2012|          86|       4|       17|      19|      30|      24|     39|                 2|            2|                1|            3|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
+----+-------------+-------------+-----------+-------+----------+--------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+------------+-------+--------------+
only showing top 20 rows

In [8]:
df2.select([count(when(isnan(c), c)).alias(c) for c in df2.columns]).show()

+---+-------------+-------------+-----------+-----+----------+--------------+---------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+------------+-------+--------------+
| ID|AnoNascimento|GrauInstrução|EstadoCivil|Renda|NumCrianca|NumAdolescente|DataConta|UltimaCompra|QtdVinho|QtdFrutas|QtdCarne|QtdPeixe|QtdDoces|QtdOuro|QtdComprasDesconto|QtdComprasWeb|QtdCompraCatalogo|QtdCompraLoja|NumVisitasSite|AceitouCam3|AceitouCam4|AceitouCam5|AceitouCam1|AceitouCam2|Reclamacao|CustoContato|Receita|UltimaCampanha|
+---+-------------+-------------+-----------+-----+----------+--------------+---------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+------------+-------+--------------+
|  0|            0|            0|          0|    0|         0|             0|        0|           0|       0|        0|       0|       0|       0|      0|                 0|            0|                0|            0|             0|          0|          0|          0|          0|          0|         0|           0|      0|             0|
+---+-------------+-------------+-----------+-----+----------+--------------+---------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+------------+-------+--------------+

In [9]:
df2.select([count(when(col(c).isNull(), c)).alias(c) for c in df2.columns]).show()

+---+-------------+-------------+-----------+-----+----------+--------------+---------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+------------+-------+--------------+
| ID|AnoNascimento|GrauInstrução|EstadoCivil|Renda|NumCrianca|NumAdolescente|DataConta|UltimaCompra|QtdVinho|QtdFrutas|QtdCarne|QtdPeixe|QtdDoces|QtdOuro|QtdComprasDesconto|QtdComprasWeb|QtdCompraCatalogo|QtdCompraLoja|NumVisitasSite|AceitouCam3|AceitouCam4|AceitouCam5|AceitouCam1|AceitouCam2|Reclamacao|CustoContato|Receita|UltimaCampanha|
+---+-------------+-------------+-----------+-----+----------+--------------+---------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+------------+-------+--------------+
|  0|            0|            0|          0|   24|         0|             0|        0|           0|       0|        0|       0|       0|       0|      0|                 0|            0|                0|            0|             0|          0|          0|          0|          0|          0|         0|           0|      0|             0|
+---+-------------+-------------+-----------+-----+----------+--------------+---------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+------------+-------+--------------+

In [10]:
df2=df2.dropna()

In [11]:
df2.describe().show()

+-------+----------------+------------------+-------------+-----------+------------------+------------------+------------------+----------+-----------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+-----------------+-----------------+-------------------+------------------+-------------------+-------------------+--------------------+-------------------+------------+-------+-------------------+
|summary|              ID|     AnoNascimento|GrauInstrução|EstadoCivil|             Renda|        NumCrianca|    NumAdolescente| DataConta|     UltimaCompra|          QtdVinho|         QtdFrutas|          QtdCarne|         QtdPeixe|          QtdDoces|          QtdOuro|QtdComprasDesconto|     QtdComprasWeb| QtdCompraCatalogo|    QtdCompraLoja|   NumVisitasSite|        AceitouCam3|       AceitouCam4|        AceitouCam5|        AceitouCam1|         AceitouCam2|         Reclamacao|CustoContato|Receita|     UltimaCampanha|
+-------+----------------+------------------+-------------+-----------+------------------+------------------+------------------+----------+-----------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+-----------------+-----------------+-------------------+------------------+-------------------+-------------------+--------------------+-------------------+------------+-------+-------------------+
|  count|            2216|              2216|         2216|       2216|              2216|              2216|              2216|      2216|             2216|              2216|              2216|              2216|             2216|              2216|             2216|              2216|              2216|              2216|             2216|             2216|               2216|              2216|               2216|               2216|                2216|               2216|        2216|   2216|               2216|
|   mean|5588.35333935018|1968.8203971119133|         null|       null| 52247.25135379061|0.4417870036101083|0.5054151624548736|      null|49.01263537906137|305.09160649819495|26.356046931407942|166.99593862815885|37.63763537906137|27.028880866425993|43.96525270758123|2.3235559566787005|  4.08528880866426| 2.671028880866426|5.800992779783393|5.319043321299639|0.07355595667870037|0.0740072202166065|0.07310469314079422|0.06407942238267147|0.013537906137184115|0.00947653429602888|         3.0|   11.0|0.15027075812274368|
| stddev|3249.37627481347|11.985554097352363|         null|       null|25173.076660901414|0.5368962401346721|0.5441812115403034|      null|28.94835165862499|  337.327920116672|39.793916518238674|224.28327275898198|54.75208241485154| 41.07204566698224|51.81541437447363|1.9237156460114953|2.7409510810147255|2.9267336360080134|3.250784785670525|2.425358540606443|0.26110580876067324|0.2618417283260366|0.26036702668143424| 0.2449496396591494| 0.11558832299800825| 0.0969070038487211|         0.0|    0.0|0.35741727012906527|
|    min|               0|              1893|       Básico|    Absurdo|            1730.0|                 0|                 0|01-01-2013|                0|                 0|                 0|                 0|                0|                 0|                0|                 0|                 0|                 0|                0|                0|                  0|                 0|                  0|                  0|                   0|                  0|           3|     11|                  0|
|    max|           11191|              1996|Segundo Ciclo|      Viúvo|          666666.0|                 2|                 2|31-12-2013|               99|              1493|               199|              1725|              259|               262|              321|                15|                27|                28|               13|               20|                  1|                 1|                  1|                  1|                   1|                  1|           3|     11|                  1|
+-------+----------------+------------------+-------------+-----------+------------------+------------------+------------------+----------+-----------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+-----------------+-----------------+-------------------+------------------+-------------------+-------------------+--------------------+-------------------+------------+-------+-------------------+

In [12]:
df2=df2.drop('Receita', 'CustoContato')

In [13]:
df2.summary().show()

+-------+----------------+------------------+-------------+-----------+------------------+------------------+------------------+----------+-----------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+-----------------+-----------------+-------------------+------------------+-------------------+-------------------+--------------------+-------------------+-------------------+
|summary|              ID|     AnoNascimento|GrauInstrução|EstadoCivil|             Renda|        NumCrianca|    NumAdolescente| DataConta|     UltimaCompra|          QtdVinho|         QtdFrutas|          QtdCarne|         QtdPeixe|          QtdDoces|          QtdOuro|QtdComprasDesconto|     QtdComprasWeb| QtdCompraCatalogo|    QtdCompraLoja|   NumVisitasSite|        AceitouCam3|       AceitouCam4|        AceitouCam5|        AceitouCam1|         AceitouCam2|         Reclamacao|     UltimaCampanha|
+-------+----------------+------------------+-------------+-----------+------------------+------------------+------------------+----------+-----------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+-----------------+-----------------+-------------------+------------------+-------------------+-------------------+--------------------+-------------------+-------------------+
|  count|            2216|              2216|         2216|       2216|              2216|              2216|              2216|      2216|             2216|              2216|              2216|              2216|             2216|              2216|             2216|              2216|              2216|              2216|             2216|             2216|               2216|              2216|               2216|               2216|                2216|               2216|               2216|
|   mean|5588.35333935018|1968.8203971119133|         null|       null| 52247.25135379061|0.4417870036101083|0.5054151624548736|      null|49.01263537906137|305.09160649819495|26.356046931407942|166.99593862815885|37.63763537906137|27.028880866425993|43.96525270758123|2.3235559566787005|  4.08528880866426| 2.671028880866426|5.800992779783393|5.319043321299639|0.07355595667870037|0.0740072202166065|0.07310469314079422|0.06407942238267147|0.013537906137184115|0.00947653429602888|0.15027075812274368|
| stddev|3249.37627481347|11.985554097352363|         null|       null|25173.076660901414|0.5368962401346721|0.5441812115403034|      null|28.94835165862499|  337.327920116672|39.793916518238674|224.28327275898198|54.75208241485154| 41.07204566698224|51.81541437447363|1.9237156460114953|2.7409510810147255|2.9267336360080134|3.250784785670525|2.425358540606443|0.26110580876067324|0.2618417283260366|0.26036702668143424| 0.2449496396591494| 0.11558832299800825| 0.0969070038487211|0.35741727012906527|
|    min|               0|              1893|       Básico|    Absurdo|            1730.0|                 0|                 0|01-01-2013|                0|                 0|                 0|                 0|                0|                 0|                0|                 0|                 0|                 0|                0|                0|                  0|                 0|                  0|                  0|                   0|                  0|                  0|
|    25%|            2814|              1959|         null|       null|           35246.0|                 0|                 0|      null|               24|                24|                 2|                16|                3|                 1|                9|                 1|                 2|                 0|                3|                3|                  0|                 0|                  0|                  0|                   0|                  0|                  0|
|    50%|            5455|              1970|         null|       null|           51373.0|                 0|                 0|      null|               49|               174|                 8|                68|               12|                 8|               24|                 2|                 4|                 2|                5|                6|                  0|                 0|                  0|                  0|                   0|                  0|                  0|
|    75%|            8420|              1977|         null|       null|           68487.0|                 1|                 1|      null|               74|               505|                33|               232|               50|                33|               56|                 3|                 6|                 4|                8|                7|                  0|                 0|                  0|                  0|                   0|                  0|                  0|
|    max|           11191|              1996|Segundo Ciclo|      Viúvo|          666666.0|                 2|                 2|31-12-2013|               99|              1493|               199|              1725|              259|               262|              321|                15|                27|                28|               13|               20|                  1|                 1|                  1|                  1|                   1|                  1|                  1|
+-------+----------------+------------------+-------------+-----------+------------------+------------------+------------------+----------+-----------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+-----------------+-----------------+-------------------+------------------+-------------------+-------------------+--------------------+-------------------+-------------------+

In [20]:
print(df2.count(), len(df2.columns))

2216 29

In [15]:
df2=df2.withColumnRenamed('NumCrianca','QtdCriancas').withColumnRenamed('NumAdolescente', 'QtdAdolescentes')
df2.show()

+----+-------------+-------------+-----------+-------+-----------+---------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+--------------+
|  ID|AnoNascimento|GrauInstrução|EstadoCivil|  Renda|QtdCriancas|QtdAdolescentes| DataConta|UltimaCompra|QtdVinho|QtdFrutas|QtdCarne|QtdPeixe|QtdDoces|QtdOuro|QtdComprasDesconto|QtdComprasWeb|QtdCompraCatalogo|QtdCompraLoja|NumVisitasSite|AceitouCam3|AceitouCam4|AceitouCam5|AceitouCam1|AceitouCam2|Reclamacao|UltimaCampanha|
+----+-------------+-------------+-----------+-------+-----------+---------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+--------------+
|5524|         1957|     Graduado|   Solteiro|58138.0|          0|              0|04-09-2012|          58|     635|       88|     546|     172|      88|     88|                 3|            8|               10|            4|             7|          0|          0|          0|          0|          0|         0|             1|
|2174|         1954|     Graduado|   Solteiro|46344.0|          1|              1|08-03-2014|          38|      11|        1|       6|       2|       1|      6|                 2|            1|                1|            2|             5|          0|          0|          0|          0|          0|         0|             0|
|4141|         1965|     Graduado|    Juntado|71613.0|          0|              0|21-08-2013|          26|     426|       49|     127|     111|      21|     42|                 1|            8|                2|           10|             4|          0|          0|          0|          0|          0|         0|             0|
|6182|         1984|     Graduado|    Juntado|26646.0|          1|              0|10-02-2014|          26|      11|        4|      20|      10|       3|      5|                 2|            2|                0|            4|             6|          0|          0|          0|          0|          0|         0|             0|
|5324|         1981|          PhD|     Casado|58293.0|          1|              0|19-01-2014|          94|     173|       43|     118|      46|      27|     15|                 5|            5|                3|            6|             5|          0|          0|          0|          0|          0|         0|             0|
|7446|         1967|     Mestrado|    Juntado|62513.0|          0|              1|09-09-2013|          16|     520|       42|      98|       0|      42|     14|                 2|            6|                4|           10|             6|          0|          0|          0|          0|          0|         0|             0|
| 965|         1971|     Graduado| Divorciado|55635.0|          0|              1|13-11-2012|          34|     235|       65|     164|      50|      49|     27|                 4|            7|                3|            7|             6|          0|          0|          0|          0|          0|         0|             0|
|6177|         1985|          PhD|     Casado|33454.0|          1|              0|08-05-2013|          32|      76|       10|      56|       3|       1|     23|                 2|            4|                0|            4|             8|          0|          0|          0|          0|          0|         0|             0|
|4855|         1974|          PhD|    Juntado|30351.0|          1|              0|06-06-2013|          19|      14|        0|      24|       3|       3|      2|                 1|            3|                0|            2|             9|          0|          0|          0|          0|          0|         0|             1|
|5899|         1950|          PhD|    Juntado| 5648.0|          1|              1|13-03-2014|          68|      28|        0|       6|       1|       1|     13|                 1|            1|                0|            0|            20|          1|          0|          0|          0|          0|         0|             0|
| 387|         1976|       Básico|     Casado| 7500.0|          0|              0|13-11-2012|          59|       6|       16|      11|      11|       1|     16|                 1|            2|                0|            3|             8|          0|          0|          0|          0|          0|         0|             0|
|2125|         1959|     Graduado| Divorciado|63033.0|          0|              0|15-11-2013|          82|     194|       61|     480|     225|     112|     30|                 1|            3|                4|            8|             2|          0|          0|          0|          0|          0|         0|             0|
|8180|         1952|     Mestrado| Divorciado|59354.0|          1|              1|15-11-2013|          53|     233|        2|      53|       3|       5|     14|                 3|            6|                1|            5|             6|          0|          0|          0|          0|          0|         0|             0|
|2569|         1987|     Graduado|     Casado|17323.0|          0|              0|10-10-2012|          38|       3|       14|      17|       6|       1|      5|                 1|            1|                0|            3|             8|          0|          0|          0|          0|          0|         0|             0|
|2114|         1946|          PhD|   Solteiro|82800.0|          0|              0|24-11-2012|          23|    1006|       22|     115|      59|      68|     45|                 1|            7|                6|           12|             3|          0|          0|          1|          1|          0|         0|             1|
|9736|         1980|     Graduado|     Casado|41850.0|          1|              1|24-12-2012|          51|      53|        5|      19|       2|      13|      4|                 3|            3|                0|            3|             8|          0|          0|          0|          0|          0|         0|             0|
|4939|         1946|     Graduado|    Juntado|37760.0|          0|              0|31-08-2012|          20|      84|        5|      38|     150|      12|     28|                 2|            4|                1|            6|             7|          0|          0|          0|          0|          0|         0|             0|
|6565|         1949|     Mestrado|     Casado|76995.0|          0|              1|28-03-2013|          91|    1012|       80|     498|       0|      16|    176|                 2|           11|                4|            9|             5|          0|          0|          0|          1|          0|         0|             0|
|2278|         1985|Segundo Ciclo|   Solteiro|33812.0|          1|              0|03-11-2012|          86|       4|       17|      19|      30|      24|     39|                 2|            2|                1|            3|             6|          0|          0|          0|          0|          0|         0|             0|
|9360|         1982|     Graduado|     Casado|37040.0|          0|              0|08-08-2012|          41|      86|        2|      73|      69|      38|     48|                 1|            4|                2|            5|             8|          0|          0|          0|          0|          0|         0|             0|
+----+-------------+-------------+-----------+-------+-----------+---------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+--------------+
only showing top 20 rows

In [16]:
df2=df2.withColumn('TotalGasto', F.col('QtdVinho')+F.col('QtdFrutas')+F.col('QtdCarne')+F.col('QtdPeixe')+F.col('QtdOuro')).orderBy('TotalGasto', ascending=False)

In [17]:
df2=df2.withColumn('Filhos', F.col('QtdCriancas')+F.col('QtdAdolescentes')).orderBy('Filhos', ascending=False)

In [28]:
df2.groupBy("EstadoCivil").agg({'QtdVinho':'mean','QtdDoces':'mean' }).show()

+------------------+------------------+------------------+
|       EstadoCivil|     avg(QtdVinho)|     avg(QtdDoces)|
+------------------+------------------+------------------+
|             Viúvo|367.13157894736844| 37.86842105263158|
|        Divorciado| 324.8448275862069| 26.81896551724138|
|           Sozinho|184.66666666666666|               7.0|
|          Solteiro| 291.3312101910828|27.072186836518046|
|           Absurdo|             355.5|              30.5|
|Só se vive uma vez|             322.0|               3.0|
|            Casado|299.85530921820305|26.751458576429403|
|           Juntado|308.40314136125653|26.232111692844676|
+------------------+------------------+------------------+

In [29]:
df2.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- AnoNascimento: integer (nullable = true)
 |-- GrauInstrução: string (nullable = true)
 |-- EstadoCivil: string (nullable = true)
 |-- Renda: double (nullable = true)
 |-- QtdCriancas: integer (nullable = true)
 |-- QtdAdolescentes: integer (nullable = true)
 |-- DataConta: string (nullable = true)
 |-- UltimaCompra: integer (nullable = true)
 |-- QtdVinho: integer (nullable = true)
 |-- QtdFrutas: integer (nullable = true)
 |-- QtdCarne: integer (nullable = true)
 |-- QtdPeixe: integer (nullable = true)
 |-- QtdDoces: integer (nullable = true)
 |-- QtdOuro: integer (nullable = true)
 |-- QtdComprasDesconto: integer (nullable = true)
 |-- QtdComprasWeb: integer (nullable = true)
 |-- QtdCompraCatalogo: integer (nullable = true)
 |-- QtdCompraLoja: integer (nullable = true)
 |-- NumVisitasSite: integer (nullable = true)
 |-- AceitouCam3: integer (nullable = true)
 |-- AceitouCam4: integer (nullable = true)
 |-- AceitouCam5: integer (nullable = true)
 |-- AceitouCam1: integer (nullable = true)
 |-- AceitouCam2: integer (nullable = true)
 |-- Reclamacao: integer (nullable = true)
 |-- UltimaCampanha: integer (nullable = true)
 |-- TotalGasto: integer (nullable = true)
 |-- Filhos: integer (nullable = true)

In [32]:
df3 = (df2.withColumn("Status", F.when((F.col('Filhos') >0) & (F.col('EstadoCivil') == 'Solteiro') |(F.col('EstadoCivil') == 'Sozinho') |(F.col('EstadoCivil') == 'Viúvo') , F.lit("Solteiro com Filhos"))
                      .otherwise(F.lit('Casado com Filhos'))))

In [33]:
df3.show()

+-----+-------------+-------------+-----------+-------+-----------+---------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+--------------+----------+------+-------------------+
|   ID|AnoNascimento|GrauInstrução|EstadoCivil|  Renda|QtdCriancas|QtdAdolescentes| DataConta|UltimaCompra|QtdVinho|QtdFrutas|QtdCarne|QtdPeixe|QtdDoces|QtdOuro|QtdComprasDesconto|QtdComprasWeb|QtdCompraCatalogo|QtdCompraLoja|NumVisitasSite|AceitouCam3|AceitouCam4|AceitouCam5|AceitouCam1|AceitouCam2|Reclamacao|UltimaCampanha|TotalGasto|Filhos|             Status|
+-----+-------------+-------------+-----------+-------+-----------+---------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+--------------+----------+------+-------------------+
| 9283|         1978|     Graduado|   Solteiro|60199.0|          1|              2|12-09-2013|          49|       8|        1|       7|       2|       0|      0|                 1|            0|                0|            3|             4|          0|          0|          0|          0|          0|         0|             0|        18|     3|Solteiro com Filhos|
| 9499|         1954|     Graduado|     Casado|93404.0|          1|              2|07-05-2013|          97|    1279|       15|     287|      20|       0|     15|                 3|            3|                4|            7|             5|          0|          1|          1|          0|          0|         0|             0|      1616|     3|  Casado com Filhos|
| 2795|         1958|     Mestrado|   Solteiro|30523.0|          2|              1|01-07-2013|           0|       5|        0|       3|       0|       0|      5|                 1|            1|                0|            2|             7|          0|          0|          0|          0|          0|         0|             0|        13|     3|Solteiro com Filhos|
| 1357|         1970|     Graduado|    Juntado|74854.0|          1|              2|08-04-2013|          90|     856|       59|     487|      58|      29|     73|                 7|            2|                5|            5|             5|          0|          0|          0|          0|          0|         0|             0|      1533|     3|  Casado com Filhos|
| 4370|         1966|     Graduado|    Juntado|43482.0|          2|              1|13-11-2013|          83|      18|        1|      32|       6|       3|     28|                 3|            2|                0|            4|             6|          0|          0|          0|          0|          0|         0|             0|        85|     3|  Casado com Filhos|
| 7284|         1953|     Graduado|     Casado|48686.0|          1|              2|04-12-2013|           8|      10|        0|       7|       2|       0|      1|                 1|            1|                0|            2|             8|          0|          0|          0|          0|          0|         0|             0|        20|     3|  Casado com Filhos|
| 4148|         1972|     Graduado|     Casado|38988.0|          1|              2|20-08-2012|          90|     164|       24|     103|      12|       3|     42|                 7|            5|                1|            6|             8|          0|          0|          0|          0|          0|         0|             0|       345|     3|  Casado com Filhos|
| 5885|         1973|Segundo Ciclo|     Casado|35688.0|          2|              1|22-08-2012|          94|      73|        3|      90|      12|       1|     32|                 7|            4|                1|            4|             8|          0|          0|          0|          0|          0|         0|             0|       210|     3|  Casado com Filhos|
| 8477|         1956|     Graduado| Divorciado|26150.0|          2|              1|11-03-2013|          61|       5|        1|      13|       3|       5|      1|                 1|            1|                0|            3|             7|          0|          0|          0|          0|          0|         0|             0|        23|     3|  Casado com Filhos|
|10492|         1959|     Graduado|    Juntado|38285.0|          2|              1|24-06-2014|          96|       2|        0|       5|       2|       0|      1|                 1|            0|                0|            3|             2|          0|          0|          0|          0|          0|         0|             0|        10|     3|  Casado com Filhos|
| 6222|         1967|     Graduado|     Casado|22574.0|          2|              1|28-10-2013|          28|      25|        0|       8|       2|       0|      2|                 2|            2|                0|            3|             7|          0|          0|          0|          0|          0|         0|             0|        37|     3|  Casado com Filhos|
| 3153|         1957|          PhD|   Solteiro|40737.0|          2|              1|08-12-2013|          24|      11|        0|       4|       0|       0|      2|                 1|            1|                0|            2|             8|          0|          0|          0|          0|          0|         0|             0|        17|     3|Solteiro com Filhos|
| 8953|         1965|     Mestrado|   Solteiro|35791.0|          2|              1|06-05-2013|          94|      27|        0|       5|       0|       0|      3|                 2|            1|                0|            3|             8|          0|          0|          0|          0|          0|         0|             0|        35|     3|Solteiro com Filhos|
|10350|         1950|          PhD|     Casado|54432.0|          2|              1|09-05-2013|          37|      33|        0|       5|       0|       0|      0|                 1|            1|                0|            3|             4|          0|          0|          0|          0|          0|         0|             0|        38|     3|  Casado com Filhos|
| 8461|         1962|     Graduado| Divorciado|46102.0|          2|              1|10-03-2014|           3|      14|        0|       1|       0|       0|      1|                 1|            1|                0|            2|             7|          0|          0|          0|          0|          0|         0|             0|        16|     3|  Casado com Filhos|
| 2552|         1955|          PhD|   Solteiro|55521.0|          1|              2|22-10-2013|          11|     416|        0|      26|       0|       0|      4|                 9|            6|                3|            6|             7|          0|          1|          0|          0|          0|         0|             1|       446|     3|Solteiro com Filhos|
| 6940|         1966|          PhD|   Solteiro|46734.0|          1|              2|21-10-2013|          86|     100|        1|      39|       6|       1|     76|                 4|            3|                2|            3|             6|          1|          0|          0|          0|          0|         0|             0|       222|     3|Solteiro com Filhos|
| 9579|         1959|          PhD|     Casado|33762.0|          2|              1|07-07-2013|          61|      53|        1|      34|       2|       0|     16|                 3|            2|                2|            2|             8|          0|          0|          0|          0|          0|         0|             0|       106|     3|  Casado com Filhos|
|11171|         1965|     Mestrado|     Casado|56962.0|          2|              1|11-10-2013|          60|     292|        3|      77|      10|       3|     26|                 7|            6|                3|            5|             7|          0|          0|          0|          0|          0|         0|             0|       408|     3|  Casado com Filhos|
| 2826|         1967|     Graduado|     Casado|22574.0|          2|              1|28-10-2013|          28|      25|        0|       8|       2|       0|      2|                 2|            2|                0|            3|             7|          0|          0|          0|          0|          0|         0|             0|        37|     3|  Casado com Filhos|
+-----+-------------+-------------+-----------+-------+-----------+---------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+--------------+----------+------+-------------------+
only showing top 20 rows