In [1]:
%run dados.ipynb

In [2]:
spark = (SparkSession.builder
        .master("local")
        .appName("projetosoulcode")
        .config('spark.jars','gcs-connector-hadoop3-latest.jar' )
        .config('spark.hadoop.fs.gs.impl','com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem')
        .config('spark.hadoop.fs.gs.auth.service.account.enable', 'true')
        .config("spark.hadoop.google.cloud.auth.service.account.json.keyfile",'soulcodeproject-44ce61622773.json')
        .config('spark.hadoop.fs.gs.project.id','soulcodeproject')
        .getOrCreate())
spark.conf.set("spark.sql.caseSensitive", "true")

22/03/18 21:22:04 WARN Utils: Your hostname, eveline-Inspiron-5557 resolves to a loopback address: 127.0.1.1; using 192.168.1.47 instead (on interface enp3s0)
22/03/18 21:22:04 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/eveline/anaconda3/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/03/18 21:22:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
schema = (
    StructType([
        StructField("ID",IntegerType(), False),
        StructField("AnoNascimento", IntegerType(), False),
        StructField("GrauInstrução", StringType(), True),
        StructField("EstadoCivil", StringType(), True),
        StructField("Renda", DoubleType(), True),
        StructField("NumCrianca", IntegerType(), True),
        StructField("NumAdolescente", IntegerType(), True),
        StructField("DataConta", StringType(), True),
        StructField("UltimaCompra", IntegerType(), True),
        StructField("QtdVinho", IntegerType(), True),
        StructField("QtdFrutas", IntegerType(), True),
        StructField("QtdCarne", IntegerType(), True),
        StructField("QtdPeixe", IntegerType(), True),
        StructField("QtdDoces", IntegerType(), True),
        StructField("QtdOuro", IntegerType(), True),
        StructField("QtdComprasDesconto", IntegerType(), True),
        StructField("QtdComprasWeb", IntegerType(), True),
        StructField("QtdCompraCatalogo", IntegerType(), True),
        StructField("QtdCompraLoja", IntegerType(), True),
        StructField("NumVisitasSite", IntegerType(), True),
        StructField("AceitouCam3", IntegerType(), True),
        StructField("AceitouCam4", IntegerType(), True),
        StructField("AceitouCam5", IntegerType(), True),
        StructField("AceitouCam1", IntegerType(), True),
        StructField("AceitouCam2", IntegerType(), True),
        StructField("Reclamacao", IntegerType(), True),
        StructField("CustoContato", IntegerType(), True),
        StructField("Receita", IntegerType(), True),
        StructField("UltimaCampanha", IntegerType(), True),
    ])
)

In [7]:
df2= (
    spark
       .read
       .format("csv")
       .option("header", "true")
       .option("delimiter", ",")
       .load('gs://soulcodeprojeto/marketing_campaign.csv',schema=schema)
)

In [8]:
df2.show()

22/03/18 21:29:07 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+----+-------------+-------------+-----------+-------+----------+--------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+------------+-------+--------------+
|  ID|AnoNascimento|GrauInstrução|EstadoCivil|  Renda|NumCrianca|NumAdolescente| DataConta|UltimaCompra|QtdVinho|QtdFrutas|QtdCarne|QtdPeixe|QtdDoces|QtdOuro|QtdComprasDesconto|QtdComprasWeb|QtdCompraCatalogo|QtdCompraLoja|NumVisitasSite|AceitouCam3|AceitouCam4|AceitouCam5|AceitouCam1|AceitouCam2|Reclamacao|CustoContato|Receita|UltimaCampanha|
+----+-------------+-------------+-----------+-------+----------+--------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+------------+-------+--------------+
|5524|         1957|   Graduation|     Single|58138.0|         0|             0|04-09-2012|          58|     635|       88|     546|     172|      88|     88|                 3|            8|               10|            4|             7|          0|          0|          0|          0|          0|         0|           3|     11|             1|
|2174|         1954|   Graduation|     Single|46344.0|         1|             1|08-03-2014|          38|      11|        1|       6|       2|       1|      6|                 2|            1|                1|            2|             5|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|4141|         1965|   Graduation|   Together|71613.0|         0|             0|21-08-2013|          26|     426|       49|     127|     111|      21|     42|                 1|            8|                2|           10|             4|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|6182|         1984|   Graduation|   Together|26646.0|         1|             0|10-02-2014|          26|      11|        4|      20|      10|       3|      5|                 2|            2|                0|            4|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|5324|         1981|          PhD|    Married|58293.0|         1|             0|19-01-2014|          94|     173|       43|     118|      46|      27|     15|                 5|            5|                3|            6|             5|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|7446|         1967|       Master|   Together|62513.0|         0|             1|09-09-2013|          16|     520|       42|      98|       0|      42|     14|                 2|            6|                4|           10|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
| 965|         1971|   Graduation|   Divorced|55635.0|         0|             1|13-11-2012|          34|     235|       65|     164|      50|      49|     27|                 4|            7|                3|            7|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|6177|         1985|          PhD|    Married|33454.0|         1|             0|08-05-2013|          32|      76|       10|      56|       3|       1|     23|                 2|            4|                0|            4|             8|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|4855|         1974|          PhD|   Together|30351.0|         1|             0|06-06-2013|          19|      14|        0|      24|       3|       3|      2|                 1|            3|                0|            2|             9|          0|          0|          0|          0|          0|         0|           3|     11|             1|
|5899|         1950|          PhD|   Together| 5648.0|         1|             1|13-03-2014|          68|      28|        0|       6|       1|       1|     13|                 1|            1|                0|            0|            20|          1|          0|          0|          0|          0|         0|           3|     11|             0|
|1994|         1983|   Graduation|    Married|   null|         1|             0|15-11-2013|          11|       5|        5|       6|       0|       2|      1|                 1|            1|                0|            2|             7|          0|          0|          0|          0|          0|         0|           3|     11|             0|
| 387|         1976|        Basic|    Married| 7500.0|         0|             0|13-11-2012|          59|       6|       16|      11|      11|       1|     16|                 1|            2|                0|            3|             8|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|2125|         1959|   Graduation|   Divorced|63033.0|         0|             0|15-11-2013|          82|     194|       61|     480|     225|     112|     30|                 1|            3|                4|            8|             2|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|8180|         1952|       Master|   Divorced|59354.0|         1|             1|15-11-2013|          53|     233|        2|      53|       3|       5|     14|                 3|            6|                1|            5|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|2569|         1987|   Graduation|    Married|17323.0|         0|             0|10-10-2012|          38|       3|       14|      17|       6|       1|      5|                 1|            1|                0|            3|             8|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|2114|         1946|          PhD|     Single|82800.0|         0|             0|24-11-2012|          23|    1006|       22|     115|      59|      68|     45|                 1|            7|                6|           12|             3|          0|          0|          1|          1|          0|         0|           3|     11|             1|
|9736|         1980|   Graduation|    Married|41850.0|         1|             1|24-12-2012|          51|      53|        5|      19|       2|      13|      4|                 3|            3|                0|            3|             8|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|4939|         1946|   Graduation|   Together|37760.0|         0|             0|31-08-2012|          20|      84|        5|      38|     150|      12|     28|                 2|            4|                1|            6|             7|          0|          0|          0|          0|          0|         0|           3|     11|             0|
|6565|         1949|       Master|    Married|76995.0|         0|             1|28-03-2013|          91|    1012|       80|     498|       0|      16|    176|                 2|           11|                4|            9|             5|          0|          0|          0|          1|          0|         0|           3|     11|             0|
|2278|         1985|     2n Cycle|     Single|33812.0|         1|             0|03-11-2012|          86|       4|       17|      19|      30|      24|     39|                 2|            2|                1|            3|             6|          0|          0|          0|          0|          0|         0|           3|     11|             0|
+----+-------------+-------------+-----------+-------+----------+--------------+----------+------------+--------+---------+--------+--------+--------+-------+------------------+-------------+-----------------+-------------+--------------+-----------+-----------+-----------+-----------+-----------+----------+------------+-------+--------------+
only showing top 20 rows

22/03/18 21:29:10 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: ID, Year_Birth, Education, Marital_Status, Income, Kidhome, Teenhome, Dt_Customer, Recency, MntWines, MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts, MntGoldProds, NumDealsPurchases, NumWebPurchases, NumCatalogPurchases, NumStorePurchases, NumWebVisitsMonth, AcceptedCmp3, AcceptedCmp4, AcceptedCmp5, AcceptedCmp1, AcceptedCmp2, Complain, Z_CostContact, Z_Revenue, Response
 Schema: ID, AnoNascimento, GrauInstrução, EstadoCivil, Renda, NumCrianca, NumAdolescente, DataConta, UltimaCompra, QtdVinho, QtdFrutas, QtdCarne, QtdPeixe, QtdDoces, QtdOuro, QtdComprasDesconto, QtdComprasWeb, QtdCompraCatalogo, QtdCompraLoja, NumVisitasSite, AceitouCam3, AceitouCam4, AceitouCam5, AceitouCam1, AceitouCam2, Reclamacao, CustoContato, Receita, UltimaCampanha
Expected: AnoNascimento but found: Year_Birth
CSV file: gs://soulcodeprojeto/marketing_campaign.csv